/*----------pages.css----------*/
.ui-head{
  background-color: #fff;
  padding: 0 40px;
  padding-left: 10px;
  height: 84px;
  border-bottom: 1px solid #dcdcdc;
  position: relative;
  z-index: 1;
}
.ui-head .tabs{
  width: 50%;
  position: relative;
  height: 84px;
  padding: 0 30px;
  overflow: hidden;
  min-width: 660px;
}
.ui-head .tabs .aw{
  display: inline-block;
  width: 20px;
  height: 64px;
  background: none no-repeat center rgba(210, 210, 210, .4);
  position: absolute;
  top: 10px;
  display: none;
}
.ui-head .tabs .aw:hover{
  background-color: rgba(210, 210, 210, .6);
}
.ui-head .tabs.has-scroll .aw{
  
}
.ui-head .tabs .aw.prev{
  background-image: url(../img/aw-l1.png);
  left: 0;
}
.ui-head .tabs .aw.next{
  background-image: url(../img/aw-r3.png);
  right: 0;
}
.ui-head .tabs >.ct{
  overflow: auto;
  height: 104px;
}
.ui-head .tabs ul{
  margin-bottom: 0;
  width: 200%;
}
.ui-head .tabs ul li{
  float: left;
  margin-right: 45px;
}
.ui-head .tabs a,
.ui-head .tabs span{
  display: block;
  padding: 0 15px;
  height: 84px;
  border-bottom: 7px solid transparent;
  line-height: 84px;
  color: #949494;
  font-size: 14px;
}
.ui-head .tabs a:hover{
  color: #64a6fd;
}
.ui-head .tabs a.on{
  color: #64a6fd;
  font-size: 18px;
  border-bottom-color: #64a6fd;
}
.ui-head .user{
  padding-top: 25px;
  padding-bottom: 15px;
  position: relative;
}
.ui-head .user >p{
  height: 33px;
  cursor: pointer;
  line-height: 33px;
}
.ui-head .user >p img{
  width: 33px;
  height: 33px;
  border-radius: 50%;
  float: left;
  margin-right: 12px;
}
.ui-head .user >p a{
  color: #949494;
  font-size: 14px;
}
.ui-head .user >p i{
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../img/aw-r1.png) no-repeat center;
  vertical-align: text-top;
  margin-left: 10px;
}
.ui-head .user:hover >p i{
  background-image: url(../img/aw-d2.png);
}
.ui-head .user >.ex{
  position: absolute;
  top: 73px;
  right: 0;
  width: 105px;
  background-color: #fff;
  border: 1px solid #e4e2e2;
  box-shadow: 0 3px 3px #e4e2e2;
  display: none;
}
.ui-head .user:hover >.ex{
  display: block;
}
.ui-head .user >.ex p{

}
.ui-head .user >.ex p a{
  display: block;
  line-height: 33px;
  color: #2a2a2a;
  font-size: 14px;
  text-indent: 20px;
}
.ui-head .user >.ex p a:hover{
  color: #fff;
  background-color: #89bcf1;
}
.ui-main{
  margin: 0 15px;
  padding: 0 25px;
  background-color: #fff;
  position: relative;
  overflow: auto;
}
.ui-table{
  border: 1px solid #f4f4f4;
}
.ui-table >.hd{
  border-bottom: 1px solid #f4f4f4;
}
.ui-table >.ct{

}
.ui-table >.ct .aw{
  display: inline-block;
  width: 45px;
  height: 45px;
  background: none no-repeat center rgba(210, 210, 210, .4);
  position: absolute;
  top: 50%;
  margin-top: -22.5px;
  display: block;
}
.ui-table >.ct .aw:hover{
  background-color: rgba(210, 210, 210, .6);
}
.ui-table >.ct.has-scroll .aw{
  display: block;
}
.ui-table >.ct .aw.prev{
  background-image: url(../img/aw-l1.png);
  left: 0;
}
.ui-table >.ct .aw.next{
  background-image: url(../img/aw-r3.png);
  right: 0;
}
.ui-table >.ct .tb{
  overflow: auto;
  position: relative;
}
.ui-table .tool{

}
.ui-table .tool p{
  padding: 0 15px;
  line-height: 30px;
  color: #949494;
  text-align: right;
}
.ui-table .tool p a{
  color: #333;
  text-decoration: underline;
  font-style: italic;
}
.ui-table .tool p .pull-left i{
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #81afe8;
}
.ui-table .tool p .rbox{
  display: inline-block;
  color: #949494;
  cursor: pointer;
}
.ui-table .tool p .rbox:hover{
  text-decoration: underline;
}
.ui-table .tool p .rbox i{
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../img/radio.png);
  margin-right: 10px;
  vertical-align: text-top;
}
.ui-table .tool p .rbox.on i{
  background-image: url(../img/radio-on.png);
}
.ui-table table{
  min-width: 100%;
}
.ui-table table tr{
  border-bottom: 1px solid #f6f6f6;
}
.ui-table table tr:last-child{
  border-bottom: none;
}
.ui-table table tr td{
  border-right: 1px solid #f6f6f6;
  padding: 10px 20px;
  color: #000;
  line-height: 1em;
  font-size: 15px;
}
.ui-table table tr:first-child td{
  background-color: #78a9e6 !important;
}
.ui-table table tr:hover td{
  background-color: #eee;
}
.ui-table.style2 table tr td{
  padding: 10px 5px;
  border-right: none;
}
.ui-table table tr td.input{
  padding: 0;
  background-color: #f4f4f4;
  border-bottom: 1px solid #fff;
}
.ui-table table tr:last-child td.input{
  border-bottom: none;
}
.ui-table table a{
  color: #78a9e6;
}
.ui-table table a{
  text-decoration: underline;
  font-style: italic;
}
.ui-table table b{
  color: #fff;
}
.ui-table table .cbox{
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../img/checkbox.png) #fff;
}
.ui-table table .cbox.on{
  background-image: url(../img/checkbox-on.png);
}
.ui-table table input[type="text"]{
  border: none;
  background: none;
  text-align: center;
  color: #78a9e6;
  font-size: 14px;
  width: 100px;
}
.ui-table.style2 table input[type="text"]{
  width: 50px;
}
.ui-table table .color1{
  color: #000000;
}
.ui-table table .color2{
  color: #949494;
}
.ui-paging{
  line-height: 30px;
  text-align: right;
  color: #c9c7c7;
  margin-bottom: 15px;
}
.ui-paging ul{
  margin-bottom: 0;
  display: inline-block;
  border: 1px solid #e5e5e5;
  border-right: none;
  vertical-align: middle;
}
.ui-paging ul li{
  float: left;
  border-right: 1px solid #e5e5e5;
}
.ui-paging ul li a{
  display: inline-block;
  width: 28px;
  text-align: center;
  color: #282828;
}
.ui-paging ul li a:hover{
  text-decoration: underline;
}
.ui-paging ul li a.on{
  background-color: #e5e5e5;
}
.ui-paging .cbox{
  display: inline-block;
  color: #000000;
  font-size: 14px;
}
.ui-paging .cbox:hover{
  text-decoration: underline;
}
.ui-paging .cbox i{
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../img/checkbox.png);
  margin-right: 10px;
  vertical-align: text-top;
}
.ui-paging .cbox.on i{
  background-image: url(../img/checkbox-on.png);
}
.ui-filter{

}
.ui-filter .select{
  display: inline-block;
  min-width: 105px;
  height: 30px;
  position: relative;
}
.ui-filter .select >p{

}
.ui-filter .select >p a{
  display: block;
  height: 30px;
  padding: 0 12px;
  padding-right: 36px;
  background: url(../img/aw-r2.png) no-repeat 88% 50% #f5f3f3;
  color: #282828;
  line-height: 30px;
  font-size: 14px;
}
.ui-filter .select.on >p a{
  background-image: url(../img/aw-d1.png);
}
.ui-filter .select >.ex{
  position: absolute;
  top: 30px;
  z-index: 9999;
  display: none;
}
.ui-filter .select.on >.ex{
  display: block;
}
.ui-filter .select .time{
  width: 140px;
  border: 1px solid #e4e2e2;
  background-color: #f5f3f3;
}
.ui-filter .select .time.cal{
  width: 205px;
}
.ui-filter .select .time >p{
  line-height: 24px;
  text-align: center;
  color: #2a2a2a;
  font-size: 14px;
  background-color: #e4e2e2;
}
.ui-filter .select .time >.ct{
  padding: 15px 10px;
}
.ui-filter .select .time.cal >.ct{
  padding: 5px;
}
.ui-filter .select .time >.ct table{
  width: 100%;
}
.ui-filter .select .time table tr{

}
.ui-filter .select .time table tr td{
  text-align: center;
  padding: 4px 0;
}
.ui-filter .select .time a{
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #282828;
  font-size: 14px;
  border-radius: 50%;
}
.ui-filter .select .time a:hover{
  text-decoration: underline;
}
.ui-filter .select .time a.on{
  background-color: #89bcf1;
  color: #fff;
}
.ui-filter .select .list{
  width: 105px;
  border: 1px solid #e4e2e2;
  background-color: #f5f3f3;
}
.ui-filter .select .list p a{
  display: block;
  line-height: 33px;
  color: #2a2a2a;
  font-size: 14px;
  text-indent: 10px;
}
.ui-filter .select .list p a:hover{
  color: #fff;
  background-color: #89bcf1;
}
.ui-filter .select select{
  border: none;
  width: 100%;
  height: 30px;
  background-color: #f5f3f3;
  color: #282828;
  line-height: 30px;
  font-size: 14px;
}
.ui-filter .bt{
  display: inline-block;
  line-height: 32px;
  padding: 0 18px;
  background-color: #78a9e6;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
}

.ui-filter .text{
  display: inline-block;
  width: 155px;
  height: 30px;
  text-indent: 10px;
  position: relative;
  top: -1px;
}

.ui-filter .bt:active{
  background-color: #3885eb;
}
.ui-addone{
  background-color: #f8f7f7;
}
.ui-addone p{
  padding: 0 15px;
  text-align: right;
  line-height: 30px;
}
.ui-addone a.bt.add{
  display: inline-block;
  padding-left: 18px;
  color: #949494;
  background: url(../img/ico-plus.png) no-repeat 0 50%;
  font-size: 14px;
}
.ui-addone a.bt:hover{
  text-decoration: underline;
}
.ui-alert{
  position: fixed;
  z-index: 100;
  top: 30%;
  left: 50%;
}
.ui-alert.style1{
  width: 340px;
  margin-left: -75px;
}
.ui-alert.style2{
  width: 700px;
  margin-left: -255px;
}
.ui-alert >.ct{
  background-color: #fff;
}
.ui-alert >p{
  margin: 0 25px;
}
.ui-alert >p .bt{
  display: inline-block;
  width: 115px;
  height: 40px;
  border-radius: 3px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.ui-alert >p .bt.style1{
  background-color: #64a6fd;
}
.ui-alert >p .bt.style1:active{
  background-color: #3885eb;
}
.ui-alert >p .bt.style2{
  background-color: #a6a6a6;
}
.ui-alert >p .bt.style2:active{
  background-color: #b3b2b2;
}
.ui-avatar{
  margin: 0 35px;
}
.ui-avatar >.hd{

}
.ui-avatar >.hd p{
  text-align: center;
}
.ui-avatar >.hd p img{
  width: 102px;
  height: 102px;
  border-radius: 50%;
}
.ui-avatar >.ct{

}
.ui-form{

}
.ui-form.style2{
  max-width: 780px;
}
.ui-form.style3{
  background-color: #f5f3f4;
  padding: 20px;
}
.ui-form .form-group{
  margin: 0 -5px;
}
.ui-form.style1 .form-group{
  margin-bottom: 25px;
}
.ui-form.style2 .form-group{
  margin-bottom: 20px;
}
.ui-form.style3 .form-group{
  margin-bottom: 20px;
}
.ui-form .col-sm-2,
.ui-form .col-sm-4,
.ui-form .col-sm-10{
  padding: 0 5px;
}
.ui-form .control-label{
  font-weight: normal;
  font-size: 14px;
  padding-top: 10px;
  display: block;
}
.ui-form.style1 .control-label{
  text-align: left;
}
.ui-form.style2 .control-label{
  text-align: right;
  padding-right: 10px;
}
.ui-form.style3 .control-label{
  color: #949494;
}
.ui-form .control-label >i{
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #e60012;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
  top: -2px;
}
.ui-form textarea.form-control,
.ui-form input.form-control{
  font-size: 14px;
  box-shadow: none;
  color: #64a6fd;
}
.ui-form.style3 textarea.form-control,
.ui-form.style3 input.form-control{
  color: #555;
}
.ui-form textarea.form-control:focus,
.ui-form input.form-control:focus{
  box-shadow: 0 0 3px #e4e2e2;
}
.ui-form textarea.form-control{
  height: 150px;
  resize: none;
}
.ui-form input.form-control{
  height: 40px;
}
.ui-form .select{
  display: inline-block;
  width: 105px;
  height: 40px;
  position: relative;
  vertical-align: middle;
}
.ui-form .select >p{

}
.ui-form .select >p a{
  display: block;
  height: 40px;
  padding: 6px 12px;
  padding-right: 36px;
  background: url(../img/aw-r2.png) no-repeat 92% 50%;
  border: 1px solid #cccccc;
  color: #949494;
  font-size: 14px;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ui-form .select.on >p a{
  background-image: url(../img/aw-d1.png);
}
.ui-form .select >p a.addr{
  padding-right: 10px;
  background: url(../img/ico-local.png) no-repeat 4% 50%;
  padding-left: 20px;
  color: #78a9e6;
}
.ui-form .select >p a.addr:hover{
  text-decoration: underline;
}
.ui-form .select >p a.on{
  color: #78a9e6;
}
.ui-form .select >.ex{
  position: absolute;
  z-index: 1;
  top: 39px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e4e2e2;
  box-shadow: 0 3px 3px #e4e2e2;
  display: none;
}
.ui-form .select.on >.ex{
  display: block;
}
.ui-form .select >.ex p{

}
.ui-form .select >.ex p a{
  display: block;
  line-height: 40px;
  color: #2a2a2a;
  font-size: 14px;
  text-indent: 12px;
  height: 40px;
  padding-right: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ui-form .select >.ex p a:hover{
  color: #fff;
  background-color: #89bcf1;
}

.ui-form .select >.ex table{
  width: 100%;
}
.ui-form .select >.ex table tr{

}
.ui-form .select >.ex table tr td{
  text-align: center;
  padding: 4px 0;
}
.ui-form .select >.ex table a{
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #282828;
  font-size: 14px;
  border-radius: 50%;
}
.ui-form .select >.ex table a:hover{
  text-decoration: underline;
}
.ui-form .select >.ex table a.on{
  background-color: #89bcf1;
  color: #fff;
}
.ui-form .select select{
  border: none;
  width: 100%;
  height: 40px;
  border: 1px solid #cccccc;
  color: #949494;
  font-size: 14px;
  line-height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ui-form .select select.on{
  color: #78a9e6;
}
.ui-form .textarea{
  position: relative;
}
.ui-form .textarea >label{
  font-weight: normal;
  margin-bottom: 0;
  position: absolute;
  bottom: 8px;
  right: 12px;
  color: #949494;
  font-size: 14px;
}
.ui-form .bt{
  display: inline-block;
  width: 115px;
  height: 40px;
  border-radius: 3px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  position: relative;
}
.ui-form .bt.style1{
  background-color: #64a6fd;
}
.ui-form .bt.style1:active{
  background-color: #3885eb;
}
.ui-form .bt.style2{
  background-color: #64a6fd;
}
.ui-form .bt.style2:active{
  background-color: #3885eb;
}
.ui-form .bt input[type="file"]{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.ui-form .text{
  padding-top: 10px;
}
.ui-form .text p{
  line-height: 20px;
  font-size: 14px;
}
.ui-form .color1{
  color: #18ac17;
}
.ui-form .font1{
  color: #64a6fd;
  font-size: 14px;
  text-decoration: underline;
  font-style: italic;
}
.ui-form .stars{
  display: inline-block;
  vertical-align: middle;
}
.ui-form .stars a{
  display: inline-block;
  width: 20px;
  height: 19px;
  background: url(../img/ico-star.png);
  margin-right: 8px;
}
.ui-form .file{

}
.ui-form .file .a{

}
.ui-form .file .a a{
  position: relative;
}
.ui-form .file .a a input[type="file"]{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.ui-form .file .b{
  margin-top: 15px;
}
.ui-form .file .b p{
  text-align: center;
  color: #c0bfbf;
  font-size: 14px;
  line-height: 1em;
}
.ui-form .file .form-control{
  box-shadow: none;
  height: 35px;
  font-size: 14px;
  text-decoration: underline;
  line-height: 20px;
  font-style: italic;
  color: #000000;
}
.ui-form .rbox{
  display: inline-block;
  color: #000000;
  font-size: 14px;
}
.ui-form .rbox:hover{
  text-decoration: underline;
}
.ui-form .rbox i{
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../img/radio.png);
  margin-right: 10px;
  vertical-align: text-top;
}
.ui-form .rbox.on i{
  background-image: url(../img/radio-on.png);
}
.ui-path{
  margin: 0 15px;
  padding: 10px 0;
}
.ui-path p{
  color: #64a6fd;
}
.ui-path p a{
  color: #64a6fd;
  opacity: .5;
}
.ui-path p a:hover{
  text-decoration: underline;
}
.ui-path p a.on{
  opacity: 1;
}
.ui-path p a.home{
  display: inline-block;
  width: 16px;
  height: 14px;
  background: url(../img/ico-home.png);
  vertical-align: middle;
  margin-right: 10px;
  opacity: 1;
}
.ui-map{

}
.ui-map img{
  width: 100%;
}
.ui-login{
  width: 390px;
  height: 450px;
  position: fixed;
  top: 50%;
  margin-top: -325px;
  left: 50%;
  margin-left: -195px;
}
.ui-login >.hd{

}
.ui-login >.hd p{
  text-align: center;
}
.ui-login >.ct{
  margin-top: 60px;
}
.ui-login .form{
  
}
.ui-login .form .form-group{
  margin: 0;
  margin-bottom: 30px;
}
.ui-login .form .form-control{
  height: 50px;
  padding: 6px 20px;
  border-radius: 4px;
  font-size: 20px;
}
.ui-login .form .forget{
  color: #7a8599;
  font-size: 14px;
  display: inline-block;
  margin-left: 20px;
}
.ui-login .form .forget:hover{
  text-decoration: underline;
}
.ui-login .form .bt{
  display: block;
  height: 50px;
  border-radius: 4px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background-color: #64a6fd;
  width:390px;
}
.ui-login .form .bt:active{
  background-color: #3885eb;
}
.ui-article{

}
.ui-article >.hd{

}
.ui-article >.hd h3{
  line-height: 1em;
  padding: 10px 0;
  border-bottom: 1px solid #f7f7f7;
  text-align: center;
  color: #000000;
  font-size: 20px;
}
.ui-article >.hd p{
  line-height: 1em;
  padding: 15px 0;
  text-align: center;
  color: #949494;
  font-size: 14px;
}
.ui-article >.hd p.text-left{
  text-align: left;
}
.ui-article >.hd table{
  width: 100%;
}
.ui-article >.hd table tr{

}
.ui-article >.hd table tr td{
  line-height: 1em;
  padding: 15px 0;
  color: #949494;
  font-size: 14px;
}
.ui-article >.ct{

}
.ui-article >.ct p{
  color: #000000;
  font-size: 15px;
  text-indent: 2em;
  line-height: 25px;
}
.ui-article >.ft{
  margin-top: 20px;
}
.ui-article >.ft p{
  text-align: right;
  line-height: 26px;
}
.ui-article >.ft p label{
  font-weight: normal;
  margin-bottom: 0;
  color: #949494;
  font-size: 14px;
  width: 400px;
  text-align: left;
}
.ui-article >.ft p label b{
  font-weight: normal;
  color: #000000;
}
.bt-btn1{
  display: inline-block;
  width: 115px;
  height: 40px;
  border-radius: 3px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background-color: #fff;
}
.bt-btn1.style1{
  background-color: #64a6fd;
  color: #fff;
}
.bt-btn1.style1:active{
  background-color: #3885eb;
}
.bt-btn1.style2{
  border: 1px solid #dcdcdc;
  line-height: 38px;
  color: #949494;
}
.bt-btn1.style2:active{
  background-color: #a0a0a0;
  color: #fff;
}
.ui-export{
  position: fixed;
  z-index: 100;
  top: 30%;
  left: 50%;
  width: 700px;
  margin-left: -255px;
  background-color: #fff;
}
.ui-export >.hd{
  padding: 15px 25px;
  border-bottom: 1px solid #f4f4f4;
}
.ui-export >.hd p{

}
.ui-export >.hd p >label{
  font-weight: normal;
  margin-bottom: 0;
  color: #000000;
  font-size: 20px;
}
.ui-export >.ct{
  padding: 30px;
}
.ui-export >.ft{

}
.ui-export >.ft p{
  text-align: center;
}
.ui-export .list{

}
.ui-export .list table{
  width: 100%;
}
.ui-export .list table tr{

}
.ui-export .list table tr td{
  padding-bottom: 30px;
}
.ui-export .list >p{
  color: #aaa;
  font-size: 14px;
}
.ui-export .rbox{
  display: inline-block;
  color: #000000;
  font-size: 14px;
}
.ui-export .rbox:hover{
  text-decoration: underline;
}
.ui-export .rbox i{
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../img/radio.png);
  margin-right: 10px;
  vertical-align: text-top;
}
.ui-export .rbox.on i{
  background-image: url(../img/radio-on.png);
}
.ui-export .cbox{
  display: inline-block;
  color: #000000;
  font-size: 14px;
}
.ui-export .cbox:hover{
  text-decoration: underline;
}
.ui-export .cbox i{
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../img/checkbox.png);
  margin-right: 10px;
  vertical-align: text-top;
}
.ui-export .cbox.on i{
  background-image: url(../img/checkbox-on.png);
}
.ui-chart{

}
.ui-chart >.ct{
  text-align: center;
}
.ui-chart >p{
  text-align: center;
  color: #949494;
}
.ui-chart >p i{
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-right: 10px;
}
.ui-chart >p i.color1{
  background-color: #eeeeee;
}
.ui-chart >p i.color2{
  background-color: #29b6d9;
}
.ui-chart >p i.color3{
  background-color: #6569e7;
}
.ui-chart >p i.color4{
  background-color: #3bc141;
}
.ui-chart .chart{
  display: inline-block;
  position: relative;
}
.ui-chart .chart1{

}
.ui-chart .chart1 >.ct{
  position: absolute;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 0;
}
.ui-chart .chart1 >.ct p{
  text-align: center;
  line-height: 1em;
}
.ui-chart .chart1 >.ct p.p1{
  color: #29b6d9;
  font-size: 37px;
}
.ui-chart .chart1 >.ct p.p2{
  color: #c1c1c1;
  font-size: 16px;
}
.ui-chart .chart2{

}
.ui-chart .chart2 .ex{
  display: inline-block;
  width: 85px;
  height: 55px;
  background-color: #e5e5e5;
  position: relative;
  padding-left: 15px;
  padding-top: 6px;
  position: absolute;
  top: -68px;
  left: 58%;
}
.ui-chart .chart2 .ex:before{
  content: '';
  display: inline-block;
  width: 14px;
  height: 9px;
  background: url(../img/ex-1.png) no-repeat 0 100%;
  position: absolute;
  bottom: -9px;
  left: 0;
}
.ui-chart .chart2 .ex p{
  text-align: left;
  color: #949494;
  line-height: 22px;
}
.ui-chart .chart2 .ex p b{
  font-weight: normal;
  color: #2a2a2a;
}
.ui-infbox{
  width: 320px;
  border: 1px solid #dedede;
}
.ui-infbox.style2{
  border: none;
  padding-left: 15px;
}
.ui-infbox >.hd{
  border-bottom: 1px solid #dedede;
}
.ui-infbox >.hd p{
  text-align: center;
  color: #000000;
  font-size: 14px;
  line-height: 35px;
}
.ui-infbox >.ct{
  padding: 20px 40px;
}
.ui-infbox .info{

}
.ui-infbox .info >p{
  text-align: center;
  margin-bottom: 20px;
}
.ui-infbox .info >p img{
  width: 100px;
  border-radius: 50%;
}
.ui-infbox .info >.ct{

}
.ui-infbox .info table{
  width: 100%;
}
.ui-infbox .info table tr{
  
}
.ui-infbox .info table tr td{
  color: #64a6fd;
  line-height: 28px;
}
.ui-infbox .info label{
  font-weight: normal;
  margin-bottom: 0;
  color: #aaa;
}
.ui-head1{
  background-color: #78a9e6;
}
.ui-head1 p{
  line-height: 30px;
  text-indent: 15px;
  color: #fff;
  font-size: 14px;
}

/*----------customize----------*/