<include file="Public/nav"/>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <div class="user">
                    <p><img src="img/avatar1.jpg" alt="">
                        <a href="">董嘉耀</a>
                        <i></i>
                    </p>
                    <div class="ex">
                        <p><a href="">个人信息</a></p>
                        <p><a href="">修改密码</a></p>
                        <p><a href="">退出</a></p>
                    </div>
                </div>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="">学生实习安排</a></li>
                    <li><a href="">实习企业管理</a></li>
                    <li><a href="">合同管理</a></li>
                    <li><a href="" class="on">学生考评设置</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ht15"></div>
    <div class="ui-main">
        <div class="container">
            <div class="ht20"></div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="ui-table">
                        <div class="hd">
                            <div class="tool">
                                <p>
                                    <a href="">新增标准</a>
                      <span class="pull-left">
                        <i></i>
                        评价标准设置
                      </span>
                                </p>
                            </div>
                        </div>
                        <div class="ct">
                            <table>
                                <tbody>
                                <tr>
                                    <td><b>标题</b></td>
                                    <td><b>标准</b></td>
                                    <td><b>操作</b></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>112</td>
                                    <td>
                                        <a href="">编辑</a>
                                        <a href="">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>2017三项</td>
                                    <td>
                                        <a href="">编辑</a>
                                        <a href="">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>112</td>
                                    <td>
                                        <a href="">编辑</a>
                                        <a href="">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>112</td>
                                    <td>
                                        <a href="">编辑</a>
                                        <a href="">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>2017三项</td>
                                    <td>
                                        <a href="">编辑</a>
                                        <a href="">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>112</td>
                                    <td>
                                        <a href="">编辑</a>
                                        <a href="">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>112</td>
                                    <td>
                                        <a href="">编辑</a>
                                        <a href="">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>2017三项</td>
                                    <td>
                                        <a href="">编辑</a>
                                        <a href="">删除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td class="input"><input type="text"></td>
                                    <td>
                                        <a href="">取消添加</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="ui-table nobb">
                        <div class="hd">
                            <div class="tool">
                                <p>
                                    <a href="">新增评分指标</a>
                      <span class="pull-left">
                        <span style="color: #000000;">评分指标</span>
                      </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="ht20"></div>
                    <div class="ui-table style2">
                        <div class="hd">
                            <div class="tool">
                                <p>
                                    &nbsp;
                      <span class="pull-left">
                        <i></i>
                        成绩计算方式
                      </span>
                                </p>
                            </div>
                        </div>
                        <div class="ct">
                            <table style="width: 500px;">
                                <tbody>
                                <tr>
                                    <td align="right">
                                        <span class="color1">实习终评=实习报告成绩</span><span class="color2">X</span>
                                    </td>
                                    <td class="input"><input type="text" value="50"></td>
                                    <td>%</td>
                                    <td align="right">
                                        <span class="color1">教师终评</span><span class="color2">X</span>
                                    </td>
                                    <td class="input"><input type="text" value="25"></td>
                                    <td>%</td>
                                    <td align="right">
                                        <span class="color1">评价方式</span><span class="color2">X</span>
                                    </td>
                                    <td class="input"><input type="text" value=""></td>
                                    <td>%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="ht20"></div>
                    <div class="ui-table">
                        <div class="hd">
                            <div class="tool">
                                <p>
                                    <a href="">取消添加</a>
                      <span class="pull-left">
                        <i></i>
                        评分方式
                        <span class="wh15"></span>
                        <span class="rbox on"><i></i>分数制（百分制）</span>
                        <span class="wh15"></span>
                        <span class="rbox"><i></i>等级制（A、B、C、D、E、F、G）</span>
                      </span>
                                </p>
                            </div>
                        </div>
                        <div class="ct">
                            <table>
                                <tr>
                                    <td><b>教师角色</b></td>
                                    <td><b>是否参与</b></td>
                                    <td><b>成绩所占比重（百分制）</b></td>
                                </tr>
                                <tr>
                                    <td>指导老师</td>
                                    <td><a href="" class="cbox on"></a></td>
                                    <td class="input"><input type="text" value="50"></td>
                                </tr>
                                <tr>
                                    <td>班主任</td>
                                    <td><a href="" class="cbox on"></a></td>
                                    <td class="input"><input type="text" value="20"></td>
                                </tr>
                                <tr>
                                    <td>企业老师</td>
                                    <td><a href="" class="cbox on"></a></td>
                                    <td class="input"><input type="text" value="30"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">

    </div>
</footer>