<include file="Practice/nav"/>
<!-------------------------------------- 内容开始 -------------------------------------->
<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
               <include file="Public/user"/>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="{:U('Practice/index')}">学生实习安排</a></li>
                    <li><a href="{:U('Practice/corporation')}" class="on">实习企业管理</a></li>
                    <li><a href="">合同管理</a></li>
                    <li><a href="">学生考评设置</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ht15"></div>
    <div class="ui-main">
        <div class="container">
            <div class="ht10"></div>
            <div class="ui-filter">
                <div class="select">
                    <p><a href="">所在地区</a></p>
                    <div class="ex">
                        <div class="list">
                            <p><a href="">上海市</a></p>
                            <p><a href="">苏州市</a></p>
                            <p><a href="">苏州市</a></p>
                            <p><a href="">上海市</a></p>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="">实习单位</a></p>
                    <div class="ex">
                        <div class="list">
                            <p><a href="">金龙集团</a></p>
                            <p><a href="">安溪太阳能</a></p>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="">是否使用</a></p>
                    <div class="ex">
                        <div class="list">
                            <p><a href="">是</a></p>
                            <p><a href="">否</a></p>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <a href="" class="bt">查询</a>
            </div>
            <div class="ht30"></div>
            <div class="ui-table">
                <div class="hd">
                    <div class="tool">
                        <p>
                            <a href="{:U('Practice/addCor')}">新增</a>
                            &nbsp;
                            <!--<a href="">删除</a>-->
                            &nbsp;
                            <a href="javascript:void(0)" id="used">设置为使用</a>
                            &nbsp;
                            <a href="javascript:void(0)" id="unused">设置为不使用</a>
                            &nbsp;
                            <a href="">导入</a>
                            &nbsp;
                            <a href="{:U('Practice/exportCor')}">导出</a>
                            &nbsp;
                            <a href="javascript:void(0)" id="deleteall">删除</a>
                        </p>
                    </div>
                </div>
                <div class="ct">
                    <table>
                        <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td><b>企业名称</b></td>
                            <td><b>所在地区</b></td>
                            <td><b>单位联系人</b></td>
                            <td><b>联系电话</b></td>
                            <td><b>是否使用</b></td>
                            <td><b>操作</b></td>
                        </tr>
                        <volist name="list" id="v">
                            <tr>
                                <td><a href="" class="cbox" attr-id="{$v.id}"></a></td>
                                <input type="hidden" value="{$v.id}">
                                <td>{$v.name}</td>
                                <td>{$v.city}</td>
                                <td>{$v.contact}</td>
                                <td>{$v.telephone}</td>
                                <td>{$v.isused|setCorporationStatus}</td>
                                <td>
                                    <a href="__CONTROLLER__/viewcor/id/{$v.id}">查看</a>
                                    <a href="__CONTROLLER__/editCor/id/{$v.id}">编辑</a>
                                    <a href="JavaScript:void(0)" class="del" attr-id="{$v.id}">删除</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ht35"></div>
            <div class="ui-paging">
                &nbsp;
                <div class="pull-left">
                    <a href="" class="cbox" attr-id="0"><i></i>全选</a>
                </div>
            </div>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">

    </div>
</footer>
<script>
    $(function(){
        $('#deleteall').click(function(){
            var ids = new Array();
            $('.cbox').each(function(i){
                if($(this).attr('class')=='cbox on'){
                    if($(this).attr('attr-id')>0)
                    ids[ids.length]=$(this).attr('attr-id');
                }
            });
            if(ids.length>0)
                layer.confirm('您真的要删除选中记录吗?', {icon: 3, title:'删除记录'}, function(index){
                    var $url = "{:U('Practice/delCor')}";
                    $.post($url,{id:ids},function(msg){
                        if(msg.status==1){
                            layer.msg(msg.message,{icon:6},function(){
                                window.location.href="/teacher.php/Practice/corporation";
                            });
                        }else{
                            layer.msg(msg.message,{icon:5},function(){
                                window.location.href="/teacher.php/Practice/corporation";
                            });
                        }
                    },'JSON');
                })
        });
        
        $('.del').click(function(){
            var $id = $(this).attr('attr-id');
             layer.confirm("真的要删除本条数据吗？",{icon:3},function(){
                 var $url = "{:U('Practice/delCor')}";
                 $.post($url,{id:$id},function(msg){
                     if(msg.status==1){
                         layer.msg(msg.message,{icon:6},function(){
                             window.location.href="/teacher.php/Practice/corporation";
                         });
                     }else{
                         layer.msg(msg.message,{icon:5},function(){
                             window.location.href="/teacher.php/Practice/corporation";
                         });
                     }
                 },'JSON');
             });
        });

        $('#used').click(function(){
            var $checked = $('a.cbox.on');
            var $size = $checked.size();
            if($('.ui-paging .pull-left a.cbox.on').size()){
                $size--;
            };
            if($size==0){
                layer.msg('请选择企业！',{icon:5});
            }
            var $corporation = new Array();
            for(var $i=0;$i<$size;$i++){
                $id = $checked.eq($i).closest('tr').find('input[type=hidden]').val();
                $corporation.push($id);
            }
            var $url = "{:U('Practice/setCorStatus')}";
            $.ajax({
                'url':$url,
                'type':'post',
                'data':{
                  'ids':$corporation,
                  'status': 1,
                },
                'dataType':'json',
                success:function(msg){
                    if(msg.status==0){
                        layer.msg(msg.message,{icon:5},function(){
                            window.location.href = '/teacher.php/Practice/corporation';
                        });
                    }else{
                        layer.msg(msg.message,{icon:6},function(){
                            window.location.href = '/teacher.php/Practice/corporation';
                        });
                    }
                }
            });
        });

        $('#unused').click(function(){
            var $checked = $('a.cbox.on');
            var $size = $checked.size();
            if($('.ui-paging .pull-left a.cbox.on').size()){
                $size--;
            };
            if($size==0){
                layer.msg('请选择企业！',{icon:5});
            }
            var $corporation = new Array();
            for(var $i=0;$i<$size;$i++){
                $id = $checked.eq($i).closest('tr').find('input[type=hidden]').val();
                $corporation.push($id);
            }
            var $url = "{:U('Practice/setCorStatus')}";
            $.ajax({
                'url':$url,
                'type':'post',
                'data':{
                    'ids':$corporation,
                    'status': -1,
                },
                'dataType':'json',
                success:function(msg){
                    if(msg.status==0){
                        layer.msg(msg.message,{icon:5,time:2000},function(){
                            window.location.href = '/teacher.php/Practice/corporation';
                        });
                    }else{
                        layer.msg(msg.message,{icon:6},function(){
                            window.location.href = '/teacher.php/Practice/corporation';
                        });
                    }
                }
            });
        });
    })
</script>
<!-------------------------------------- 尾部开始 -------------------------------------->
