<include file="Practice/nav"/>
<!-------------------------------------- 头部结束 -------------------------------------->
<!-------------------------------------- 内容开始 -------------------------------------->
<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <include file="Public/user"/>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="{:U('Practice/index')}">学生实习安排</a></li>
                    <li><a href="{:U('Practice/corporation')}" class="on">实习企业管理</a></li>
                    <li><a href="">合同管理</a></li>
                    <li><a href="">学生考评设置</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui-path">
        <p>
            <span class="pull-right"><a href="{:U('Practice/corporation')}">返回</a></span>
            <a href="" class="home"></a>
            <a href="{:U('Practice/corporation')}">实习企业管理</a>
            >
            <a href="" class="on">编辑企业</a>
        </p>
    </div>
    <div class="ui-main">
        <div class="container">
            <div class="ht10"></div>
            <div class="ui-form style2">
                <form class="form-horizontal" method="post" id="corporationForm">
                    <input type="hidden" name="id" value="{$info.id}">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label"><i></i>企业名称</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"  name="name" style="width: 210px;" value="{$info.name}" id="name" onblur="isEmpty(this.id)">
                        </div>
                        <div class="col-sm-2">
                            <label for="" class="control-label"><i></i>企业地址(城市)</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="city" id="city" style="width: 210px;" value="{$info.city}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">

                            <label for="" class="control-label" ><i></i> 企业性质</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="select" style="width: 210px;">
                                <p id="type"><a href="#"><if condition="$info.type">{$info.type}<else/>请选择企业性质</if></a></p>
                                <div class="ex">
                                    <p><a href="javascript:void(0)" onclick="document.getElementById('type').value='国资'">国资</a></p>
                                    <p><a href="javascript:void(0)" onclick="document.getElementById('type').value='外资'">外资</a></p>
                                    <p><a href="javascript:void(0)" onclick="document.getElementById('type').value='股份制'">股份制</a></p>
                                </div>
                                <input type="hidden" id="type" name="type" value="{$info.type}">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="" class="control-label"><i></i>企业联系人</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="contact" style="width: 210px;" value="{$info.contact}" id="contact" onblur="isEmpty(this.id)">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label">部门</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" deptment="" style="width: 210px;" value="{$info.department}">
                        </div>
                        <div class="col-sm-2">
                            <label for="" class="control-label">职务</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="position" style="width: 210px;" value="{$info.position}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label"><i></i>联系电话</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="telephone" style="width: 210px;" value="{$info.telephone}" id="telephone" onblur="isEmpty(this.id)">
                        </div>
                        <div class="col-sm-2">
                            <label for="" class="control-label">移动电话</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="mobile" id="mobile" maxlength='11' style="width: 210px;" value="{$info.mobile}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label">企业邮箱</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="email" style="width: 210px;" value="{$info.email}">
                        </div>
                        <div class="col-sm-2">
                            <label for="" class="control-label">企业邮编</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="zipcode" style="width: 210px; color: #78a9e6;"  value="225653">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label">企业传真</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="fax" style="width: 210px;" value="{$info.fax}">
                        </div>
                        <div class="col-sm-2">
                            <label for="" class="control-label"><i></i>详细地址</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="select" style="width: 210px;">
                                <input type="text" class="form-control" name="address" style="width: 210px; color: #78a9e6;" value="{$info.address}" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label">企业网址</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="website" style="width: 210px;" value="{$info.website}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label">企业介绍</label>
                        </div>
                        <div class="col-sm-10">
                            <div class="textarea" style="width: 93%;"><label for="">0/2000</label>
                                <textarea class="form-control"  name="introduction">{$info.introduction}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="ht15"></div>
                    <div class="form-group">
                        <p class="text-center">
                            <button type="button" class="bt-btn1 style1">保存</button>
                            <span class="wh40"></span>
                            <button type="reset" class="bt-btn1 style2">取消</button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">

    </div>
</footer>
<!-------------------------------------- 尾部开始 -------------------------------------->
<script>
    $(function(){
        $('button[type=button]').click(function(){
//            $('input[name=city]').val($('#city').text());
//            $('input[name=type]').val($('#type').text());
            var $data = $('#corporationForm').serialize();
            var $url = "{:U('Practice/editCor')}";
            var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/; 
            var mobile = $("#mobile").val();
            if(mobile.length>0&&!myreg.test(mobile)) 
            { 
                layer.msg('请输入有效的手机号码！',{icon:5});
                return false; 
            }
            $.ajax({
                'type':"post",
                'url':$url,
                'data':$data,
                'dataType':"json",
                success:function(msg){
                    if(msg.status == 0){
                        layer.msg(msg.message,{icon:5});
                    }else{
                        layer.msg(msg.message,{icon:6,time:2000}, function (msg){
                            window.location.href = '/teacher.php/Practice/corporation';
                        });
                    }
                }
            });
        });
    });

    function isEmpty(x)
    {
        var y = document.getElementById(x).value;
        if(y==''){
            layer.msg('此项为必填项',{icon:5});
        }
    }

</script>
