<include file="Public/nav"/>

    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
               <include file="Public/user"/>
            </div>
            <div class="tabs">
                <div class="ct">
                    <ul>
                        <li><a href="{:U('Practice/index')}" class="on">学生实习安排</a></li>
                        <li><a href="{:U('Practice/corporation')}">实习企业管理</a></li>
                        <li><a href="">合同管理</a></li>
                        <li><a href="">学生考评设置</a></li>
                    </ul>
                </div>
                <!--<a href="javascript:;" class="aw prev"></a><a href="javascript:;" class="aw next"></a>-->
            </div>
        </div>
    </div>
    <div class="ht15"></div>
    <div class="ui-main">
        <div class="container">
            <div class="ht10"></div>
            <div class="ui-filter">
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="#"><if condition="$_SESSION['adminUser']['type'] != 2">{$_SESSION['adminUser']['dname']}<else/>院系</if></a></p>
                    <div class="ex">
                        <div class="list">
                            <volist name="department" id="v">
                            <p><a href="javascript:void(0)" name="department" attr-id="{$v.id}">{$v.dname}</a></p>
                            </volist>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="#">专业</a></p>
                    <div class="ex">
                        <div class="list">
                        <volist name="profession" id="v">
                            <p><a href="" name="profession" attr-id="{$v.id}">{$v.name}</a></p>
                        </volist>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="#"><if condition="$_SESSION['adminUser']['type'] eq 0">{$_SESSION['adminUser']['classname']}<else/>班级</if></a></p>
                    <div class="ex">
                        <div class="list">
                            <volist name="class" id="v">
                            <p><a href="" name="class" attr-id="{$v.id}">{$v.classname}</a></p>
                            </volist>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="#">实习单位</a></p>
                    <div class="ex">
                        <div class="list">
                            <volist name="corporation" id="v">
                            <p><a href="" name="corporation" attr-id="{$v.id}">{$v.name}</a></p>
                            </volist>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <input type="text" class="text control-form" id="keywords" placeholder="请输入学号/姓名">
                <span class="wh10"></span>
                <a href="javascript:void(0)" class="bt">查询</a>
            </div>
            <div class="ht30"></div>
            <div class="ui-table">
                <div class="hd" style="width: 140%;">
                    <div class="ui-paging">
                        <div class="pull-left">
                            <a href="" class="cbox" attr-id="0"><i></i>全选</a>
                        </div>
                    </div>
                    <div class="tool">
                        <p>
                            <a href="javascript:void(0)" id="arrangement">批量安排岗位</a>
                            &nbsp;
                            <a href="javascript:void(0)" id="cancel">取消安排岗位</a>
                            &nbsp;
                            <a href="{:U('Practice/export')}">导出</a>
                        </p>
                    </div>
                </div>
                <form action="{:U('Practice/arrangement')}" id="arrangementform" method="POST">
                <div class="ct">
                    <div class="tb">
                        <table style="width: 140%;">
                            <tbody>
                            <tr>
                                <td>&nbsp;</td>
                                <td><b>学号</b></td>
                                <td><b>姓名</b></td>
                                <td><b>班级</b></td>
                                <td><b>联系电话</b></td>
                                <td><b>实习单位</b></td>
                                <td><b>实习岗位</b></td>
                                <td><b>企业老师</b></td>
                                <td><b>安排方式</b></td>
                                <td><b>操作</b></td>
                            </tr>
                            <volist name="list" id="v">
                                <tr>
                                    <td><a href="" class="cbox" attr-id="{$v.sid}"></a></td>
                                    <td>{$v.studentno}</td>
                                    <td>{$v.stuname}</td>
                                    <td>{$v.classname}</td>
                                    <td>{$v.phone}</td>
                                    <td>{$v.cname}</td>
                                    <td>{$v.position}</td>
                                    <td>{$v.guide}</td>
                                    <td>{$v.mode|setPracticeMode}</td>
                                    <td>
                                        <if condition="$v.mode eq 0">
                                            <a href="__CONTROLLER__/arrangement/studentid/{$v.sid}">安排岗位</a>
                                        <else />
                                            <a href="#" onclick="cancel({$v.sid})">取消安排</a>
                                        </if>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <!--<a href="javascript:;" class="aw prev"></a><a href="javascript:;" class="aw next"></a>-->
                </div>
                <input type="hidden" name="studentids" id="studentids" value="" />
                </form>
            </div>
            <div class="ht35"></div>
            <div class="ht35"></div>
            <div class="ui-paging" style="width: 140%;">
                {$page} 
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container">
    </div>
</footer>
<script>
function cancel(id){
    var $url = "{:U('Practice/cancelarrangement')}";
      $.ajax({
          'url':$url,
          'type':'post',
          'data': {
              'id':id,
          },
          'dataType':'json',
          success:function(msg){
            if(msg.status==0){
                layer.msg(msg.message,{icon:5});
            }else if(msg.status==1){
                layer.msg(msg.message,{icon:6},function(){
                    window.location.href="/teacher.php/Practice";
                });
            }
          }
        });
}

    $(function(){
        $('.bt').click(function(){
            var _department = 0;
            var _profession = 0;
            var _class = 0;
            var _corporation = 0;
            $("a[name^='department']").each(function(i){
                if($(this).attr('class')=='on'){
                    _department = $(this).attr('attr-id');
                }
            })
            $("a[name^='profession']").each(function(i){
                if($(this).attr('class')=='on'){
                    _profession = $(this).attr('attr-id');
                }
            })
            $("a[name^='class']").each(function(i){
                if($(this).attr('class')=='on'){
                    _class = $(this).attr('attr-id');
                }
            })
            $("a[name^='corporation']").each(function(i){
                if($(this).attr('class')=='on'){
                    _corporation = $(this).attr('attr-id');
                }
            })
            window.location.href="/teacher.php/Practice/index/department/"+_department+"/profession/"+_profession+"/class/"+_class+"/corporation/"+_corporation+"/keywords/"+$('#keywords').val();
        });

        
       $('#cancel').click(function(){
            var ids = new Array();
            $('.cbox').each(function(i){
                if($(this).attr('class')=='cbox on'){
                    if($(this).attr('attr-id')>0)
                    ids[ids.length]=$(this).attr('attr-id');
                }
            });
            if(ids.length<=0){
                layer.msg('请选择学生',{icon:5});
                return ;
            }
            cancel(ids);
       });

       $('#arrangement').click(function(){
            var ids = new Array();
            $('.cbox').each(function(i){
                if($(this).attr('class')=='cbox on'){
                    if($(this).attr('attr-id')>0)
                    ids[ids.length]=$(this).attr('attr-id');
                }
            });
            if(ids.length<=0){
                layer.msg('请选择学生',{icon:5});
                return ;
            }
            $('#studentids').val(ids.join(','));
            $('#arrangementform').submit();
       });

       function  checkChange(){
           console.log($(this).text());
       }

    });
</script>