<include file="Practice/nav"/>

    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
               <include file="Public/user"/>
            </div>
            <div class="tabs">
                <div class="ct">
                    <ul>
                        <li><a href="{:U('Practice/index')}" class="on">学生实习安排</a></li>
                        <li><a href="{:U('Practice/corporation')}">实习企业管理</a></li>
                        <li><a href="">合同管理</a></li>
                        <li><a href="">学生考评设置</a></li>
                    </ul>
                </div>
                <!--<a href="javascript:;" class="aw prev"></a><a href="javascript:;" class="aw next"></a>-->
            </div>
        </div>
    </div>
    <div class="ht15"></div>
    <div class="ui-main">
        <div class="container">
            <div class="ht10"></div>
            <div class="ui-filter">
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="#">院系</a></p>
                    <div class="ex">
                        <div class="list">
                            <volist name="department" id="v">
                            <p><a href="javascript:void(0)" name="department" attr-id="{$v.id}">{$v.dname}</a></p>
                            </volist>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="#">专业</a></p>
                    <div class="ex">
                        <div class="list">
                        <volist name="profession" id="v">
                            <p><a href="" name="profession" attr-id="{$v.id}">{$v.name}</a></p>
                        </volist>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="#">班级</a></p>
                    <div class="ex">
                        <div class="list">
                            <volist name="class" id="v">
                            <p><a href="" name="class" attr-id="{$v.id}">{$v.classname}</a></p>
                            </volist>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="#">实习单位</a></p>
                    <div class="ex">
                        <div class="list">
                            <volist name="corporation" id="v">
                            <p><a href="" name="corporation" attr-id="{$v.id}">{$v.name}</a></p>
                            </volist>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <input type="text" class="text control-form" id="keywords" placeholder="请输入学号/姓名">
                <span class="wh10"></span>
                <a href="javascript:void(0)" class="bt">查询</a>
            </div>
            <div class="ht30"></div>
            <div class="ui-table">
                <div class="hd">
                    <div class="tool">
                        <p>
                            <a href="">批量安排岗位</a>
                            &nbsp;
                            <a href="javascript:void(0)" id="cancel">取消安排岗位</a>
                            &nbsp;
                            <a href="">导入</a>
                            &nbsp;
                            <a href="">导出</a>
                        </p>
                    </div>
                </div>
                <div class="ct">
                    <div class="tb">
                        <table style="width: 140%;">
                            <tbody>
                            <tr>
                                <td>&nbsp;</td>
                                <td><b>学号</b></td>
                                <td><b>姓名</b></td>
                                <td><b>班级</b></td>
                                <td><b>联系电话</b></td>
                                <td><b>实习单位</b></td>
                                <td><b>实习岗位</b></td>
                                <td><b>校内老师</b></td>
                                <td><b>安排方式</b></td>
                                <td><b>操作</b></td>
                            </tr>
                            <volist name="list" id="v">
                                <tr>
                                    <td><a href="" class="cbox"></a></td>
                                    <td>{$v.student_id}</td>
                                    <td>{$v.stuname}</td>
                                    <td>{$v.classname}</td>
                                    <td>{$v.phone}</td>
                                    <td>{$v.corname}</td>
                                    <td>{$v.position}</td>
                                    <td>{$v.teacher}</td>
                                    <td>{$v.mode|setPracticeMode}</td>
                                    <td>
                                        <if condition="$v.mode eq 1 ">
                                            <p>无需操作</p>
                                            <elseif condition="$v.mode eq 0"/>
                                            <a href="__CONTROLLER__/arrangement/id/{$v.student_id}">安排岗位</a>
                                        </if>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <!--<a href="javascript:;" class="aw prev"></a><a href="javascript:;" class="aw next"></a>-->
                </div>
            </div>
            <div class="ht35"></div>
            <div class="ht35"></div>
            <div class="ui-paging">
                {$page} 
                <div class="pull-left">
                    <a href="" class="cbox"><i></i>全选</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="container">
    </div>
</footer>
<script>
    $(function(){
        $('.bt').click(function(){
            var _department = 0;
            var _profession = 0;
            var _class = 0;
            var _corporation = 0;
            $("a[name^='department']").each(function(i){
                if($(this).attr('class')=='on'){
                    _department = $(this).attr('attr-id');
                }
            })
            $("a[name^='profession']").each(function(i){
                if($(this).attr('class')=='on'){
                    _profession = $(this).attr('attr-id');
                }
            })
            $("a[name^='class']").each(function(i){
                if($(this).attr('class')=='on'){
                    _class = $(this).attr('attr-id');
                }
            })
            $("a[name^='corporation']").each(function(i){
                if($(this).attr('class')=='on'){
                    _corporation = $(this).attr('attr-id');
                }
            })
            window.location.href="/teacher.php/Practice/index/department/"+_department+"/profession/"+_profession+"/class/"+_class+"/corporation/"+_corporation+"/keywords/"+$('#keywords').val();
        })

       $('#cancel').click(function(){
          layer.msg('删除');
       });

       function  checkChange(){
           console.log($(this).text());
       }



      $('.bt').click(function(){
          $dept = $('#dept').text();
          $profession = $('#profession').text();
          $class = $('#class').text();
//          console.log($data);
         var $url = "{:U('Practice/index')}";
          $.ajax({
              'url':$url,
              'type':'post',
              'data': {
                  'dept':$dept,
                  'profession':$profession,
                  'class':$class
              },
              'dataType':'json',
              success:function(msg){

              }
          });
      });


    });
</script>