<include file="Base/header" />
<!-------------------------------------- 内容开始 -------------------------------------->
<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <include file="Base/personal"/>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="" class="on">公告</a></li>
                    <li><a href="">系统消息</a></li>
                    <li><a href="">预警信息</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ht15"></div>
    <div class="ui-main">
        <div class="container">
            <div class="ht25"></div>
            <div class="ui-table">
                <div class="hd">
                    <div class="ui-paging">
                        <div class="pull-left">
                                <a href="" class="cbox" attr-id="0"><i></i>全选</a>
                            </div>
                    </div>
                    
                    <div class="tool">
                        <p>
                            <a href="javascript:void(0)" id="deleteall">删除</a>
                        </p>
                    </div>
                </div>
                <div class="ct">
                    <table class="yfycms-table">
                        <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td><b>公告标题</b></td>
                            <td><b>发布人</b></td>
                            <td><b>发布时间</b></td>
                            <td><b>状态</b></td>
                            <td><b>操作</b></td>
                        </tr>
                        <volist name="data" id="vo">
                            <tr>
                                <td><a href="" class="cbox" attr-id="{$vo.id}"></a></td>
                                <td>{$vo.title}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.pubtime|substr=0,10}</td>
                                <td><if condition="$vo.viewid eq 0">未读<else/>已读</if></td>
                                <td><a href="javascript:void(0)" attr-id="{$vo.id}" id="yfycms-cat"  class="ul">查看</a>&nbsp;<a href="javascript:void();" attr-id="{$vo.id}" attr-message="删除" class="del"  >删除</a>
                                    </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ht35"></div>
            <div class="ui-paging">
                {$page}
            </div>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">

    </div>
</footer>
<!-------------------------------------- 尾部开始 -------------------------------------->
</body>
</html>
<style>

</style>
<script>
    $('#deleteall').click(function(){
        var ids = new Array();
        $('.cbox').each(function(i){
            if($(this).attr('class')=='cbox on'){
                if($(this).attr('attr-id')>0)
                ids[ids.length]=$(this).attr('attr-id');
            }
        });
        if(ids.length>0)
            layer.confirm('您真的要删除选中记录吗?', {icon: 3, title:'删除记录'}, function(index){
                var $url = "{:U('Notice/userdel')}";
                $.post($url,{id:ids},function(msg){
                    if(msg.status==1){
                        layer.msg(msg.message,{icon:6},function(){
                            window.location.href="/index.php?m=student&c=notice&a=index";
                        });
                    }else{
                        layer.msg(msg.message,{icon:5},function(){
                            window.location.href="/index.php?m=student&c=notice&a=index";
                        });
                    }
                },'JSON');
            })
    });

    var SCOPE = {
        'cat_url' : '/index.php?m=student&c=notice&a=cat',
    }
    $(function(){
        /**
         * 编辑模型
         */
        $('.yfycms-table #yfycms-cat').on('click',function(){
            var id = $(this).attr('attr-id');
            var url = SCOPE.cat_url+'&id='+id;
            window.location.href=url;
        });
        $('.del').click(function(){
            var $data = $(this).attr('attr-id');
            layer.confirm('您真的要删除本条公告吗?', {icon: 3, title:'删除公告'}, function(index){
                var $url = "{:U('Notice/userdel')}";
                $.post($url,{id:$data},function(msg){
                    if(msg.status==1){
                        layer.msg(msg.message,{icon:6},function(){
                            window.location.href="/index.php?m=student&c=notice&a=index";
                        });
                    }else{
                        layer.msg(msg.message,{icon:5},function(){
                            window.location.href="/index.php?m=student&c=notice&a=index";
                        });
                    }
                },'JSON');
            });
        });
    });
</script>
