<include file="Base/header" />
<!-------------------------------------- 内容开始 -------------------------------------->
<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <div class="user">
                    <p><img src="__PUBLIC__/Student/img/avatar1.jpg" alt="">
                        <a href=''><?php echo getLoginUsername();?></a>
                        <i></i>
                    </p>
                    <div class="ex">
                        <p><a href="">个人信息</a></p>
                        <p><a href="">修改密码</a></p>
                        <p><a href="/index.php/student/login/logout">退出</a></p>
                    </div>
                </div>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="" class="on">公告</a></li>
                    <li><a href="">系统消息</a></li>
                    <li><a href="">预警信息</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ht15"></div>
    <div class="ui-main">
        <div class="container">
            <div class="ht25"></div>
            <div class="ui-table">
                <div class="hd">
                    <div class="tool">
                        <p>
                            <a href="">删除</a>
                        </p>
                    </div>
                </div>
                <div class="ct">
                    <table class="yfycms-table">
                        <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td><b>序号</b></td>
                            <td><b>公告标题</b></td>
                            <td><b>发布人</b></td>
                            <td><b>发布对象</b></td>
                            <td><b>发布时间</b></td>
                            <td><b>操作</b></td>
                        </tr>
                        <volist name="data" id="vo">
                            <tr>
                                <td><a href="" class="cbox"></a></td>
                                <td>{$vo.id}</td>
                                <td>{$vo.title}</td>
                                <td>{$vo.name}</td>
                                <td>所有人</td>
                                <td>{$vo.pubtime}</td>
                                <td><a href="javascript:void(0)" attr-id="{$vo.id}" id="yfycms-cat"  class="ul">查看</a>&nbsp;<a href="">删除</a>
                                    </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ht35"></div>
            <div class="ui-paging">
                <span>共15页，共143条记录</span>
                &nbsp;
                <ul>
                    <li><a href=""><</a></li>
                    <li><a href="" class="on">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">></a></li>
                </ul>
                <div class="pull-left">
                    <a href="" class="cbox"><i></i>全选</a>
                </div>
            </div>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">

    </div>
</footer>
<!-------------------------------------- 尾部开始 -------------------------------------->
</body>
</html>
<style>

</style>
<script>
    var SCOPE = {
        'cat_url' : '/index.php?m=student&c=notice&a=cat',
    }
    $(function(){
        /**
         * 编辑模型
         */
        $('.yfycms-table #yfycms-cat').on('click',function(){
            var id = $(this).attr('attr-id');
            var url = SCOPE.cat_url+'&id='+id;
            window.location.href=url;
        });
    });
</script>
