<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <div class="user">
                    <p><img src="__PUBLIC__/admin/img/avatar1.jpg" alt="">
                        <a href="">董嘉耀</a>
                        <i></i>
                    </p>
                    <div class="ex">
                        <p><a href="">个人信息</a></p>
                        <p><a href="">修改密码</a></p>
                        <p><a href="">退出</a></p>
                    </div>
                </div>
            </div>
            <div class="tabs">
                <ul>
                    <li><span></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui-path">
        <p>
            <a href="" class="home"></a>
            <a href="">学生管理</a>
            >
            <a href="" class="on">查看学生信息</a>
        </p>
    </div>
    <div class="ui-main">
        <div class="container">
            <div class="ht20"></div>
            <div class="pull-left" style="margin-right: 30px;">
                <div class="ui-infbox">
                    <div class="hd">
                        <p>个人信息</p>
                    </div>
                    <div class="ct">
                        <div class="info">
                            <p>
                                <img src="__PUBLIC__/admin/img/avatar2.jpg" alt="">
                            </p>
                            <div class="ct">
                                <table>
                                    <tr>
                                        <td><label for="">姓名</label></td>
                                        <td>董嘉耀</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">手机</label></td>
                                        <td>15876548987</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">学号</label></td>
                                        <td>16765289</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">电子邮箱</label></td>
                                        <td>809765427@qq.com</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">联系地址</label></td>
                                        <td>南京市江宁区弘景大道1号</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">院系</label></td>
                                        <td>水利学院</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">年级</label></td>
                                        <td>2016级</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">班级</label></td>
                                        <td>082班</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">班主任</label></td>
                                        <td>郭德纲</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-left">
                <div class="ui-infbox">
                    <div class="hd">
                        <p>实习信息</p>
                    </div>
                    <div class="ct">
                        <div class="info">
                            <div class="ct">
                                <table>
                                    <tr>
                                        <td><label for="">实习状态</label></td>
                                        <td>在实习</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">实习企业</label></td>
                                        <td>苏州金龙集团</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">实习地址</label></td>
                                        <td>苏州市观前街108号</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">实习岗位</label></td>
                                        <td>机械操作员</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">实习时间</label></td>
                                        <td>2016-10-21~2016-10-28</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">实习导师</label></td>
                                        <td>董嘉耀</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">导师联系方式</label></td>
                                        <td>1689829379</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">住宿地址</label></td>
                                        <td>苏州金龙集团职工宿舍</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">实习小结</label></td>
                                        <td>已提交</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ht30"></div>
                <div class="ui-infbox">
                    <div class="hd">
                        <p>日常任务</p>
                    </div>
                    <div class="ct">
                        <div class="info">
                            <div class="ct">
                                <table>
                                    <tr>
                                        <td><label for="">周报</label></td>
                                        <td>已提交3篇</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">打卡</label></td>
                                        <td>2016-12-01 08;30;00</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">月报</label></td>
                                        <td>已提交3篇</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">实习小结</label></td>
                                        <td>已提交5篇</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">实习申请</label></td>
                                        <td>已提交4篇</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">

    </div>
</footer>