<include file="Base/header"/>
<!-------------------------------------- 头部结束 -------------------------------------->
<!-------------------------------------- 内容开始 -------------------------------------->
<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <include file="Base/personal"/>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="/index.php/student/Contact/student" class="on">学生群</a></li>
                    <li><a href="/index.php/student/Contact/teacher">老师群</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ht15"></div>
    <div class="ui-main">
        <div class="container">
            <div class="ht10"></div>
            <div class="ui-filter">
                <span class="wh10"></span>
                <input type="text" class="form-control text"  id="keywords" placeholder="请输入姓名或者学号">
                <span class="wh10"></span>
                <a href="javascript:void(0);" class="bt">查询</a>
            </div>
            <div class="ht30"></div>
            <div class="ui-table">
                <div class="ct">
                    <table>
                        <tbody>
                        <tr>
                            <td><b>姓名</b></td>
                            <td><b>学号</b></td>
                            <td><b>电话</b></td>
                            <td><b>实习企业</b></td>
                            <td><b>紧急联系人</b></td>
                            <td><b>联系电话</b></td>
                        </tr>
                        <volist name="list" id="vo">
                        <tr>
                            <td>{$vo.name}</td>
                            <td>{$vo.studentno}</td>
                            <td>{$vo.phone}</td>
                            <td>{$vo.cname}</td>
                            <td>{$vo.emegencyconcat}</td>
                            <td>{$vo.emegencyphone}</td>
                        </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ht35"></div>
            <div class="ui-paging">
                {$page}
            </div>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">

    </div>
</footer>
<!-------------------------------------- 尾部开始 -------------------------------------->
</body>
</html>
<style>

</style>
<script>
        $('.bt').click(function() {
           window.location.href='/index.php/student/contact/student/keywords/'+$('#keywords').val();
        });
</script>
