<include file="Notice/nav" />
<!-------------------------------------- 内容开始 -------------------------------------->
<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <include file="Notice/user"/>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="{:U('Notice/index')}" class="on">公告</a></li>
                    <li><a href="">系统消息</a></li>
                    <li><a href="">预警信息</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui-path">
        <p>
            <span class="pull-right"><a href="{:U('Notice/index')}">返回</a></span>
            <a href="javascript:void(0)" class="home"></a>
            <a href="{:U('Notice/index')}">公告</a>
            >
            <a href="javascript:void(0)" class="on">新增公告</a>
        </p>
    </div>
    <div class="ui-main">
        <div class="container">
            <div class="ht10"></div>
            <div class="ui-form style2">
                <form class="form-horizontal" id="yfycms-form">
                    <div class="form-group">
                        
                        <div class="col-sm-2">
                            <label for="" class="control-label">标题</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" name="title" class="form-control" id="" style="width: 210px;" placeholder="请输入公告标题信息">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label">发布至</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="select" style="width: 210px;">
                                <p><a href="javascript:void();">请选择您的发送对象</a></p>
                                <input type="hidden" id="school" name="school" value="0" />
                                <input type="hidden" id="class_id" name="class_id" value="0" />
                                <input type="hidden" id="dep_id" name="dep_id" value="0" />
                                <div class="ex">
                                    <if condition="$THINK.session.adminUser.type eq 2">
                                    <p><a href="javascript:void();" onclick="setAll();">所有人</a></p>
                                    </if>
                                    <volist name="department" id="v">
                                    <p><a href="javascript:void();" onclick="setDep({$v.id});">{$v.dname}</a></p>
                                    </volist>
                                    <hr />
                                    <volist name="class" id="v">
                                    <p><a href="javascript:void();" onclick="setCla({$v.id});">{$v.classname}</a></p>
                                    </volist>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="select" style="width: 210px;">
                                <p><a href="javascript:void();">请选择您的发送对象类型</a></p>
                                <input type="hidden" id="type" name="type" value="0" />
                                <div class="ex">
                                    <p><a href="javascript:void();" onclick="setType(0);">不限</a></p>
                                    <p><a href="javascript:void();" onclick="setType(2);">教师</a></p>
                                    <p><a href="javascript:void();" onclick="setType(1);">学生</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label">内容</label>
                        </div>
                        <div class="col-sm-10">
                            <div class="textarea" style="width: 93%;"><label for="">0/2000</label>
                                <textarea class="form-control" name="content" placeholder="请输入公告内容"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label">发布时间</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control dtp" name="pubtime" id="" style="width: 210px;" placeholder="请输入上传时间" value="">
                        </div>
                    </div>
                    <div class="ht15"></div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            &nbsp;
                        </div>
                        <div class="col-sm-10">
                            <p>
                                <a href="javascript:void();" id="yfycms-button-submit" class="bt-btn1 style1">保存</a>
                                <span class="wh40"></span>
                                <a href="{:U('Notice/index')}" class="bt-btn1 style2">取消</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">

    </div>
</footer>
<!-------------------------------------- 尾部开始 -------------------------------------->
<link rel="stylesheet" type="text/css" href="/Public/Student/css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="/Public/Student/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/Public/Student/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
    $(function(){
        $('.dtp').datetimepicker({
            language: 'zh-CN',
            minView: "month",//设置只显示到月份
            format : "yyyy-mm-dd",//日期格式
            autoclose:true,//选中关闭
            todayBtn: true//今日按钮
        });
    });
    function setAll(){
        $('#school').val(1);
    }
    function setDep(i){
        $('#dep_id').val(i);
    }
    function setCla(i){
        $('#class_id').val(i);
    }
    function setType(i){
        $('#type').val(i);
    }

    var SCOPE = {
        'save_url' : '/index.php?m=teacher&c=notice&a=add',
        'jump_url' : '/index.php?m=teacher&c=notice&a=index',
        'set_status_url':'/index.php?m=teacher&c=notice&a=del',
    };
    $("#yfycms-button-submit").click(function(){
        var data=$("#yfycms-form").serializeArray();
        postData={};
        $(data).each(function(i){
            postData[this.name]=this.value;
        });
        console.log(postData);
        url=SCOPE.save_url;
        jump_url=SCOPE.jump_url;
        $.post(url,postData,function($result){
            if($result.status == 1){
                return dialog.success($result.message,jump_url);
            }else if($result.status == 0){
                return dialog.error($result.message);
            }
        },"JSON");
    });
</script>
</body>