<include file="Public/nav" />
<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <include file="Notice/user"/>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="" class="on">公告</a></li>
                    <li><a href="">系统消息</a></li>
                    <li><a href="">预警信息</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ht15"></div>
    <div class="ui-main">
        <div class="container">
            <div class="ht10"></div>
            <div class="ui-table">
                <div class="hd">
                    <div class="ui-paging">
                        <div class="pull-left">
                            <a href="" class="cbox" attr-id="0"><i></i>全选</a>
                        </div>
                    </div>
                    <div class="tool">
                        <p>
                            <a href="/teacher.php?c=notice&a=add">新增</a>
                            <a href="javascript:void(0)" id="deleteall">删除</a>
                        </p>
                    </div>
                </div>
                <div class="ct">
                    <table class="yfycms-table">
                        <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td><b>公告标题</b></td>
                            <td><b>发布人</b></td>
                            <td><b>发布对象</b></td>
                            <td><b>对象类型</b></td>
                            <td><b>发布时间</b></td>
                            <td><b>状态</b></td>
                            <td><b>操作</b></td>
                        </tr>
                        <volist name="data" id="vo">
                            <tr>
                                <td><a href="" class="cbox" attr-id="{$vo.id}"></a></td>
                                <td>{$vo.title}</td>
                                <td>{$vo.teacher_name}</td>
                                <td>{$vo.publisher}</td>
                                <td><if condition="$vo.type eq 1">学生<elseif  condition="$vo.type eq 2" />教师<else />不限</if></td>
                                <td>{$vo.pubtime|substr=0,10}</td>
                                <td><if condition="$vo.viewid eq 0">未读<else />已读</if></td>
                                <td>
                                    <a href="/teacher.php?c=notice&a=cat&id={$vo.id}">查看</a>
                                    <a href="javascript:void();" attr-id="{$vo.id}" attr-message="删除" id="yfycms-delete">删除</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ht35"></div>
            <div class="ui-paging">
                {$page}
            </div>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">

    </div>
</footer>
<!-------------------------------------- 尾部开始 -------------------------------------->
</body>
</html>
<style>

</style>
<script>
    $('#deleteall').click(function(){
        var ids = new Array();
        $('.cbox').each(function(i){
            if($(this).attr('class')=='cbox on'){
                if($(this).attr('attr-id')>0)
                ids[ids.length]=$(this).attr('attr-id');
            }
        });
        if(ids.length>0)
            layer.confirm('您真的要删除选中记录吗?', {icon: 3, title:'删除记录'}, function(index){
                var $url = "{:U('Notice/del')}";
                $.post($url,{id:ids},function(msg){
                    if(msg.status==1){
                        layer.msg(msg.message,{icon:6},function(){
                            window.location.href="/teacher.php/Notice/index";
                        });
                    }else{
                        layer.msg(msg.message,{icon:5},function(){
                            window.location.href="/teacher.php/Notice/index";
                        });
                    }
                },'JSON');
            })
    });

    var SCOPE = {
        'jump_url' : '/index.php?m=teacher&c=notice&a=index',
        'set_status_url':'/index.php?m=teacher&c=notice&a=del',
    };

    $('.yfycms-table #yfycms-delete').on('click',function(){
        var id = $(this).attr('attr-id');
        var message=$(this).attr('attr-message');
        var url = SCOPE.set_status_url;
        data={};
        data['id'] = id;

        layer.open({
            type : 0,
            title : '是否提交？',
            btn : ['yes','no'],
            icon :3,
            closeBtn : 2,
            content : '是否确认'+message,
            scorllbar : true,
            yes: function(){
                todelete(url,data);
            },
        });
    });

    function todelete(){
        var url = SCOPE.set_status_url;
        //ajax的异步操作，交互性好
        $.post(
            url,data,function(s){
                if(s.status == 1){
                    return dialog.success('删除成功','');
                }else{
                    return dialog.error('删除失败');
                }
            },"JSON");
    }
</script>
