body{
  position: relative;
  padding-left: 190px;
  background-color: #f2f2f2;
  font-family: 黑体;
  min-width: 1200px;
  overflow-y: hidden;
}
body.page-login{
  background: url(../img/login-bg.jpg) no-repeat center;
  background-size: cover;
}
body:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
}
body.on-mask:after{
  display: block;
}
.container{
	width: 100%;
	padding: 0;
	position: relative;
}

/*----------header----------*/
header{

}

nav.navi{
  width: 190px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #353847;
}
nav.navi >.hd{

}
nav.navi >.ct{
  overflow: auto;
}
nav.navi .logo{
  padding: 15px 0;
  background-color: #272a36;
}
nav.navi .logo p{
  text-align: center;
}
nav.navi .list{

}
nav.navi .list ul{
  margin-bottom: 0;
}
nav.navi .list ul li{
  padding: 10px 15px;
}
nav.navi .list .i{
  border: 1px solid transparent;
  border-radius: 3px;
  opacity: .2;
}
nav.navi .list .i:hover{
  opacity: 1;
}
nav.navi .list .i.on{
  border-color: #3e91fe;
  background-color: #335076;
  opacity: 1;
}
nav.navi .list .i p{
  line-height: 48px;
  padding-left: 25px;
  color: #fff;
  font-size: 14px;
}
nav.navi .list .i p i{
  display: inline-block;
  width: 30px;
  height: 30px;
  background: none no-repeat center;
  vertical-align: middle;
  margin-right: 10px;
}
nav.navi .list .i p i.ico1{
  background-image: url(../img/navi-ico1.png);
}
nav.navi .list .i p i.ico2{
  background-image: url(../img/navi-ico2.png);
}
nav.navi .list .i p i.ico3{
  background-image: url(../img/navi-ico3.png);
}
nav.navi .list .i p i.ico4{
  background-image: url(../img/navi-ico4.png);
}
nav.navi .list .i p i.ico5{
  background-image: url(../img/navi-ico5.png);
}
nav.navi .list .i p i.ico6{
  background-image: url(../img/navi-ico6.png);
}
nav.navi .list .i p i.ico7{
  background-image: url(../img/navi-ico7.png);
}
nav.navi .list .i p i.ico8{
  background-image: url(../img/navi-ico8.png);
}
nav.navi .list .i p i.ico9{
  background-image: url(../img/navi-ico9.png);
}

/*----------main----------*/
main{

}

/*----------footer----------*/
footer{

}

/*----------customize----------*/