<include file="Base/header"/>
<!-------------------------------------- 头部结束 -------------------------------------->
<!-------------------------------------- 内容开始 -------------------------------------->
<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <div class="user">
                    <p><img src="img/avatar1.jpg" alt="">
                        <a href=""><?php echo getLoginUsername() ?></a>
                        <i></i>
                    </p>
                    <div class="ex">
                        <p><a href="">个人信息</a></p>
                        <p><a href="">修改密码</a></p>
                        <p><a href="">退出</a></p>
                    </div>
                </div>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="/index.php?m=student&c=apply">实习申请</a></li>
                    <li><a href="/index.php?m=student&c=apply&a=change" class="on">实习变更</a></li>
                    <li><a href="/index.php?m=student&c=apply&a=leave">请假申请</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ht15"></div>
    <div class="ui-main">

        <div class="container">
            <div class="ht10"></div>
            <div class="ui-form style2">
                <form class="form-horizontal" id="yfycms-form">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label">变更类型</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="select" style="width: 210px;">
                                <input type="hidden" name="type" id="type"/>
                                <p><a href="javascript:void(0)">请选择变更类型</a></p>
                                <div class="ex">
                                    <p><a href="javascript:void(0)" id="corporation">单位</a></p>
                                    <p><a href="javascript:void(0)" id="job">岗位</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="" class="control-label">新岗位</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="position" id="" style="width: 210px;" placeholder="请输入新岗位名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label">专业对口</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="text">
                                <input type="hidden" value="0" id="box" name="profession"/>
                                <p>
                                    <a href="" id="box1" class="rbox on"><i></i>对口</a>
                                    <span class="wh50"></span>
                                    <a href="" id="box2" class="rbox"><i></i>不对口</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="" class="control-label">保险购买</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="text">
                                <input type="hidden" value="0" id="buy" name="insurance"/>
                                <p>
                                    <a href="" id="buy1" class="rbox on"><i></i>已购买</a>
                                    <span class="wh50"></span>
                                    <a href="" id="buy2" class="rbox"><i></i>未购买</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label">企业老师</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-4">
                                <input type="text" name="guide" class="form-control" id="" style="width: 210px;" placeholder="请输入企业老师">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="" class="control-label">联系电话</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" name="phone" class="form-control" id="" style="width: 210px;" placeholder="请输入联系电话">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label">老师邮箱</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" name="guide_email" class="form-control" id="" style="width: 210px;" placeholder="请输入老师联系邮箱">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label">变更原因</label>
                        </div>
                        <div class="col-sm-10">
                            <div class="textarea" style="width: 93%;"><label for="">0/2000</label>
                                <textarea class="form-control" name="reason" placeholder="请输入详细的变更原因"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="ht15"></div>
                    <div class="form-group">
                        <p class="text-center">
                        <p class="text-center">
                            <a href="javascript:void();" id="yfycms-button-submit" class="bt-btn1 style1">提交</a>
                            <span class="wh40"></span>
                            <a href="javascript:void();" class="bt-btn1 style2">取消</a>
                        </p>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">

    </div>
</footer>
<!-------------------------------------- 尾部开始 -------------------------------------->
</body>
</html>
<style>

</style>
<script>
    $("#box1").click(function(){
        $("#box").val('0');
    });

    $("#box2").click(function(){
        $("#box").val('1');
    });

    $("#buy1").click(function(){
        $("#buy").val('0');
    });

    $("#buy2").click(function(){
        $("#buy").val('1');
    });

    $("#corporation").click(function(){
        window.location.href='/index.php/student/Apply/changeCorporation';
    });
    $("#job").click(function(){
        $("#type").val(1);
    });
    $(function(){

    });
    var SCOPE = {
        'save_url' : '/index.php?m=student&c=apply&a=changeJob',
        'jump_url' : '/index.php?m=student&c=apply&a=change',
    };
    $("#yfycms-button-submit").click(function(){
        var data=$("#yfycms-form").serializeArray();
        postData={};
        $(data).each(function(i){
            postData[this.name]=this.value;
        });
        console.log(postData);
        url=SCOPE.save_url;
        jump_url=SCOPE.jump_url;
        $.post(url,postData,function($result){
            if($result.status == 1){
                return dialog.success($result.message,jump_url);
            }else if($result.status == 0){
                return dialog.error($result.message);
            }
        },"JSON");
    });
</script>
