<include file="Base/header"/>
<!-------------------------------------- 头部结束 -------------------------------------->
<!-------------------------------------- 内容开始 -------------------------------------->
<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <div class="user">
                    <p><img src="img/avatar1.jpg" alt="">
                        <a href=""><?php echo getLoginUsername() ?></a>
                        <i></i>
                    </p>
                    <div class="ex">
                        <p><a href="">个人信息</a></p>
                        <p><a href="">修改密码</a></p>
                        <p><a href="">退出</a></p>
                    </div>
                </div>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="/index.php?m=student&c=apply" class="on">实习申请</a></li>
                    <li><a href="/index.php?m=student&c=apply&a=change">实习变更</a></li>
                    <li><a href="/index.php?m=student&c=apply&a=leave">请假申请</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ht15"></div>
    <div class="ui-main">
        <div class="container">
            <div class="ht10"></div>
            <div class="ui-filter">


            <div class="ht30"></div>
            <div class="ui-table">
                <div class="hd">

                </div>
                <div class="ct">
                    <table class="yfycms-table">
                        <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td><b>学号</b></td>
                            <td><b>提交人</b></td>
                            <td><b>班级</b></td>
                            <td><b>提交时间</b></td>
                            <td><b>审核人</b></td>
                            <td><b>评审结果</b></td>
                            <td><b>操作</b></td>
                        </tr>

                            <tr>
                                <td><a href="" class="cbox"></a></td>
                                <td>{$list['studentno']}</td>
                                <td>{$list['name']}</td>
                                <td>{$list['classname']}</td>
                                <td>{$list['starttime']}</td>
                                <td>{$list['teacher']}</td>
                                <td>{$list['status']|getReportStatus}</td>
                                <td>
                                    <a href="javascript:void(0);" id="yfycms-view" attr-id="{$list['id']}">查看</a> <a href="javascript:void(0);" id="yfycms-delete" attr-message="删除" attr-id="{$list['id']}">删除</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">

    </div>
</footer>
<!-------------------------------------- 尾部开始 -------------------------------------->
</body>
</html>
<style>

</style>
<script>

        var SCOPE = {
            'jump_url' : '/index.php?m=student&c=apply&a=index',
            'set_status_url':'/index.php?m=student&c=apply&a=delApply',
            'edit_url':'/index.php?m=student&c=apply&a=edit',
            'view_url':'/index.php?m=student&c=apply&a=viewApply'
        };

        $('#yfycms-delete').on('click',function(){
            var id = $(this).attr('attr-id');
            var message=$(this).attr('attr-message');
            var url = SCOPE.set_status_url;
            data={};
            data['id'] = id;

            layer.open({
                type : 0,
                title : '是否提交？',
                btn : ['yes','no'],
                icon :3,
                closeBtn : 2,
                content : '是否确认'+message,
                scorllbar : true,
                yes: function(){
                    todelete(url,data);
                },
            });
        });

        function todelete(){
            var url = SCOPE.set_status_url;
            //ajax的异步操作，交互性好
            $.post(
                    url,data,function(s){
                        if(s.status == 1){
                            return dialog.success('删除成功','');
                        }else{
                            return dialog.error('删除失败');
                        }
                    },"JSON");
        }

    /**
     * 查看模型
     */
    $('.yfycms-table #yfycms-view').on('click',function(){
        var id = $(this).attr('attr-id');
        var url = SCOPE.view_url+'&id='+id;
        window.location.href=url;
    });
</script>
