<include file="Base/header"/>
<!-------------------------------------- 头部结束 -------------------------------------->
<!-------------------------------------- 内容开始 -------------------------------------->
<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <include file="Base/personal"/>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="/index.php?m=student&c=apply">实习申请</a></li>
                    <li><a href="/index.php?m=student&c=apply&a=change">实习变更</a></li>
                    <li><a href="/index.php?m=student&c=apply&a=leave" class="on">请假申请</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ht15"></div>
    <div class="ui-main">
        <div class="container">
            <div class="ht10"></div>
            <div class="ui-table">
                <div class="hd">
                    <div class="tool">
                        <p>
                            <a href="/index.php?m=student&c=apply&a=addLeave">新增</a>
                        </p>
                    </div>
                </div>
                <div class="ct">
                    <table class="yfycms-table">
                        <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td><b>学号</b></td>
                            <td><b>提交人</b></td>
                            <td><b>班级</b></td>
                            <td><b>提交时间</b></td>
                            <td><b>审核人</b></td>
                            <td><b>评审结果</b></td>
                            <td><b>操作</b></td>
                        </tr>
                        <volist name="list" id="vo">
                            <tr>
                                <td><a href="" class="cbox"></a></td>
                                <td>{$vo.studentno}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.classname}</td>
                                <td>{$vo.applytime}</td>
                                <td>{$vo.teacher}</td>
                                <td>{$vo.status|status}</td>
                                <td>
                                    <a href="javascript:void(0);" attr-id="{$vo.id}" id="yfycms-view">查看</a> <a href="javascript:void(0);" id="yfycms-delete" attr-message="删除" attr-status="{$vo.status}" attr-id="{$vo.id}">删除</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">

    </div>
</footer>
<!-------------------------------------- 尾部开始 -------------------------------------->
</body>
</html>
<style>

</style>
<script>

        var SCOPE = {
            'jump_url' : '/index.php?m=student&c=apply&a=leave',
            'set_status_url':'/index.php?m=student&c=apply&a=delLeave',
            'view_url':'/index.php?m=student&c=apply&a=viewLeave'
        };

        $('.yfycms-table #yfycms-delete').on('click',function(){
            var id = $(this).attr('attr-id');
            var status = $(this).attr('attr-status');
            var message=$(this).attr('attr-message');
            var url = SCOPE.set_status_url;
            data={};
            data['id'] = id;
            data['status'] = status;
            layer.open({
                type : 0,
                title : '是否提交？',
                btn : ['yes','no'],
                icon :3,
                closeBtn : 2,
                content : '是否确认'+message,
                scorllbar : true,
                yes: function(){
                    todelete(url,data);
                },
            });
        });

        function todelete(){
            var url = SCOPE.set_status_url;
            //ajax的异步操作，交互性好
            $.post(
                    url,data,function(s){
                        if(s.status == 1){
                            return dialog.success('删除成功','');
                        }else{
                            return dialog.error('删除失败');
                        }
                    },"JSON");
        }
        /**
         * 查看模型
         */
        $('.yfycms-table #yfycms-view').on('click',function(){
            var id = $(this).attr('attr-id');
            var url = SCOPE.view_url+'&id='+id;
            window.location.href=url;
        });


</script>
