<include file="Apply/nav"/>
<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <include file="Public/user"/>
            </div>
            <div class="tabs">
                <div class="ct">
                    <ul>
                        <li><a href="{:U('Apply/index')}" >实习申请</a></li>
                        <!--<li><a href="{:U('Apply/corporation')}" class="on">实习单位变更</a></li>-->
                        <!--<li><a href="{:U('Apply/position')}">实习岗位变更</a></li>-->
                        <li><a href="{:U('Apply/change')}">实习变更</a></li>
                        <li><a href="{:U('Apply/leave')}">请假申请</a></li>
                    </ul>
                </div>
                <a href="javascript:;" class="aw prev"></a><a href="javascript:;" class="aw next"></a>
            </div>
        </div>
    </div>
    <div class="ui-path">
        <p><span class="pull-right"><a href="{:U('Apply/change')}">返回</a></span>
            <a href="{:U('Apply/index')}" class="home">实习管理</a>
            &gt;
            <a href="{:U('Apply/position')}">实习岗位变更</a>
            &gt;
            <a href="javascript:void(0)" class="on">实习变更批阅</a>
        </p>
    </div>
    <div class="ui-main">
        <div class="container">
            <div class="ht15"></div>
            <div class="ui-article">
                <div class="hd">
                    <h3>{$apply.stuname}的单位变更申请</h3>
                    <table>
                        <input type="hidden" name="id" value="{$apply.chid}">
                        <tr>
                            <td align="left">单位名称：{$apply.corname}</td>
                            <td align="center">电话：{$apply.phone}</td>
                            <td align="center">专业：{$apply.proname}</td>
                            <td align="center">保险：{$apply.insurance|isPayInsurance}</td>
                            <td align="right">岗位名称：{$apply.position}</td>
                        </tr>
                    </table>
                    <p>
                <span class="pull-left">
                  详细地址：{$apply.address}
                  <span class="wh40"></span>
                  校外老师：{$apply.guide}
                </span>
                        &nbsp;
                    </p>
                    <div class="ht15"></div>
                </div>
                <div class="ct">
                    <p style="text-indent: 0;">变更原因：</p>
                    <div style="font-size: 15px">{$apply.reason}</div>
                </div>
            </div>
            <div class="ht90"></div>
            <p class="text-center">
                <button type='button' class="bt-btn1 style1" attr-opinion="1">同意</button>
                <span class="wh40"></span>
                <button  type="button" class="bt-btn1 style2" attr-opinion ="-1">不同意</button>
            </p>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">
    </div>
</footer>
<script>
    $(function(){
        $('button').click(function(){
            var $id = $('input[type=hidden]').val();
            var $data = $(this).attr('attr-opinion');
            var $url = "{:U('Apply/editCor')}";
            $.post($url,{'opinion':$data,'id':$id},function(msg){
                if(msg.status==0){
                    layer.msg(msg.message,{icon:5,time:2000},function(){
                        window.location.href="/teacher.php/Apply/corporation";//跳转到列表页面
                    });
                }else{
                    layer.msg(msg.message,{icon:6,time:2000},function(){
                        window.location.href="/teacher.php/Apply/corporation";//跳转到列表页面
                    });
                }
            },'JSON');
        });
    });
</script>
