<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <div class="user">
                    <p><img src="img/avatar1.jpg" alt="">
                        <a href="">董嘉耀</a>
                        <i></i>
                    </p>
                    <div class="ex">
                        <p><a href="">个人信息</a></p>
                        <p><a href="">修改密码</a></p>
                        <p><a href="">退出</a></p>
                    </div>
                </div>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="" class="on">学生实习安排</a></li>
                    <li><a href="">实习企业管理</a></li>
                    <li><a href="">合同管理</a></li>
                    <li><a href="">学生考评设置</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ht15"></div>
    <div class="ui-main">
        <div class="container">
            <div class="ht10"></div>
            <div class="ui-filter">
                <div class="select">
                    <p><a href="">实习批次</a></p>
                    <div class="ex">
                        <div class="list" style="width: 190px;">
                            <p><a href="">【414】2009~2010批次</a></p>
                            <p><a href="">【413】2008~2009批次</a></p>
                            <p><a href="">【412】2008~2009批次</a></p>
                            <p><a href="">【414】2009~2010批次</a></p>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="">学部</a></p>
                    <div class="ex">
                        <div class="list">
                            <p><a href="">机械学院</a></p>
                            <p><a href="">水利学院</a></p>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="">专业</a></p>
                    <div class="ex">
                        <div class="list">
                            <p><a href="">机械设计</a></p>
                            <p><a href="">电气自动化</a></p>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="">班级</a></p>
                    <div class="ex">
                        <div class="list">
                            <p><a href="">机设011</a></p>
                            <p><a href="">自动化002</a></p>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="">学号/姓名</a></p>
                    <div class="ex">
                        <div class="list" style="width: 140px;">
                            <p><a href="">1687287 董嘉耀</a></p>
                            <p><a href="">0976267 郭德纲</a></p>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="">实习单位</a></p>
                    <div class="ex">
                        <div class="list">
                            <p><a href="">金龙集团</a></p>
                            <p><a href="">安溪太阳能</a></p>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <a href="" class="bt">查询</a>
            </div>
            <div class="ht30"></div>
            <div class="ui-table">
                <div class="hd">
                    <div class="tool">
                        <p>
                            <a href="">批量安排岗位</a>
                            &nbsp;
                            <a href="">取消安排岗位</a>
                            &nbsp;
                            <a href="">导入</a>
                            &nbsp;
                            <a href="">导出</a>
                        </p>
                    </div>
                </div>
                <div class="ct">
                    <table>
                        <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td><b>学号</b></td>
                            <td><b>姓名</b></td>
                            <td><b>班级</b></td>
                            <td><b>联系电话</b></td>
                            <td><b>实习单位</b></td>
                            <td><b>实习岗位</b></td>
                            <td><b>校内指导老师</b></td>
                            <td><b>校外指导老师</b></td>
                        </tr>
                        <tr>
                            <td><a href="" class="cbox"></a></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ht60"></div>
            <div class="ui-form style3">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label">请选择文件</label>
                        </div>
                        <div class="col-sm-10">
                            <div class="file">
                                <div class="a">
                                    <a href="" class="form-control"><input type="file" name="" id="">
                                        请选择文件
                                    </a>
                                </div>
                                <div class="b">
                                    <p>注意事项：导入格式必须为xls格式；文件必须按照导入模板样式填写；导入数据较多时，需要更多时间，请耐心等待； </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ht15"></div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            &nbsp;
                        </div>
                        <div class="col-sm-10">
                            <a href="" class="bt-btn1 style1">导入</a>
                            <span class="wh20"></span>
                            <a href="" class="font1">导入模板下载</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">

    </div>
</footer>