<!-------------------------------------- 头部结束 -------------------------------------->
<!-------------------------------------- 内容开始 -------------------------------------->
<include file="Contact/nav"/>
<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <div class="user">
                    <p><img src="__PUBLIC__/Teacher/img/avatar1.jpg" alt="">
                        <a href=''><?php echo getLoginUsername();?></a>
                        <i></i>
                    </p>
                    <div class="ex">
                        <p><a href="">个人信息</a></p>
                        <p><a href="">修改密码</a></p>
                        <p><a href="/index.php/Teacher/login/logout">退出</a></p>
                    </div>
                </div>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="{:U('Contact/index')}" class="on">学生群</a></li>
                    <li><a href="{:U('Contact/teacher')}" >老师群</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ht15"></div>
    <div class="ui-main">
        <div class="container">
            <div class="ht10"></div>
            <div class="ui-filter">
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="">院系</a></p>
                    <div class="ex">
                        <div class="list">
                            <volist name="department" id="v">
                            <p><a href="javascript:void(0)" name="department" attr-id="{$v.id}">{$v.dname}</a></p>
                            </volist>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="">专业</a></p>
                    <div class="ex">
                        <div class="list">
                        <volist name="profession" id="v">
                            <p><a href="" name="profession" attr-id="{$v.id}">{$v.name}</a></p>
                        </volist>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="">班级</a></p>
                    <div class="ex">
                        <div class="list">
                        <volist name="class" id="v">
                            <p><a href="" name="class" attr-id="{$v.id}">{$v.classname}</a></p>
                        </volist>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <input type="text" class="text control-form" id="keywords" placeholder="请输入学号/姓名">
                <span class="wh10"></span>
                <a href="javascript:void(0)" class="bt">查询</a>
            </div>
            <div class="ht30"></div>
            <div class="ui-table">
                <div class="ct">
                    <table>
                        <tbody>
                        <tr>
                            <td><b>姓名</b></td>
                            <td><b>学号</b></td>
                            <td><b>电话</b></td>
                            <td><b>实习企业</b></td>
                            <td><b>紧急联系人</b></td>
                            <td><b>联系电话</b></td>
                        </tr>
                        <volist name="list" id="v">
                            <tr>
                                <td>{$v.stuname}</td>
                                <td>{$v.studentno}</td>
                                <td>{$v.phone}</td>
                                <td>{$v.corname}</td>
                                <td>{$v.contact}</td>
                                <td>{$v.telephone}</td>
                            </tr>
                        </volist>

                    </table>
                </div>
            </div>
            <div class="ht35"></div>
            <div class="ui-paging">
                {$page} 
            </div>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">

    </div>
</footer>
<!-------------------------------------- 尾部开始 -------------------------------------->
</body>
</html>
<style>

</style>
<script>
    $(function(){
        $('.bt').click(function(){
            var _department = 0;
            var _profession = 0;
            var _class = 0;
            $("a[name^='department']").each(function(i){
                if($(this).attr('class')=='on'){
                    _department = $(this).attr('attr-id');
                }
            })
            $("a[name^='profession']").each(function(i){
                if($(this).attr('class')=='on'){
                    _profession = $(this).attr('attr-id');
                }
            })
            $("a[name^='class']").each(function(i){
                if($(this).attr('class')=='on'){
                    _class = $(this).attr('attr-id');
                }
            })
            window.location.href="/teacher.php/Contact/index/department/"+_department+"/profession/"+_profession+"/class/"+_class+"/keywords/"+$('#keywords').val();

        })
    });
</script>
