<include file="Contact/nav"/>
<!-------------------------------------- 头部结束 -------------------------------------->
<!-------------------------------------- 内容开始 -------------------------------------->
<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <div class="user">
                    <p><img src="__PUBLIC__/Teacher/img/avatar1.jpg" alt="">
                        <a href=''><?php echo getLoginUsername();?></a>
                        <i></i>
                    </p>
                    <div class="ex">
                        <p><a href="">个人信息</a></p>
                        <p><a href="">修改密码</a></p>
                        <p><a href="/index.php/Teacher/login/logout">退出</a></p>
                    </div>
                </div>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="/index.php/Teacher/Contact/index">学生群</a></li>
                    <li><a href="/index.php/Teacher/Contact/teacher" class="on">老师群</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ht15"></div>
    <div class="ui-main">
        <div class="container">
            <div class="ht10"></div>
            <div class="ui-filter">
                <div class="select">
                    <p><a href="">院系</a></p>
                    <div class="ex">
                        <div class="list">
                            <volist name="department" id="vo">
                                <p><a href="javascript:void(0);" name="department" attr-id="{$vo.id}">{$vo.dname}</a></p>
                            </volist>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <input type="text" class="form-control text" id="keywords" placeholder="请输入姓名">
                <span class="wh10"></span>
                <a href="javascript:void(0);" class="bt">查询</a>
            </div>
            <div class="ht30"></div>
            <div class="ui-table">
                <div class="ct">
                    <table>
                        <tbody>
                        <tr>
                            <td><b>姓名</b></td>
                            <td><b>工号</b></td>
                            <td><b>电话</b></td>
                            <td><b>所在部门</b></td>
                            <td><b>职位</b></td>
                        </tr>
                        <volist name="list" id="vo">
                        <tr>
                            <td>{$vo.name}</td>
                            <td>{$vo.teacherno}</td>
                            <td>{$vo.phone}</td>
                            <td>{$vo.dname}</td>
                            <td>{$vo.identity}</td>
                        </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ht35"></div>
            <div class="ui-paging">
                {$page}
            </div>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">

    </div>
</footer>
<!-------------------------------------- 尾部开始 -------------------------------------->
</body>
</html>
<style>

</style>
<script>
        var _department = 0;
        $('.bt').click(function() {
           $('a[name^=department]').each(function(i){
               if($(this).attr('class')== 'on')
                 _department = $(this).attr('attr-id');
           }) ;
            window.location.href = '/index.php/teacher/contact/teacher/department/'+_department+'/keywords/'+$('#keywords').val();

        });
</script>
