<include file="Contact/nav"/>
<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <div class="user">
                    <p><img src="__PUBLIC__/teacher/img/avatar1.jpg" alt="">
                        <a href="">董嘉耀</a>
                        <i></i>
                    </p>
                    <div class="ex">
                        <p><a href="">个人信息</a></p>
                        <p><a href="">修改密码</a></p>
                        <p><a href="">退出</a></p>
                    </div>
                </div>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="{:U('Contact/index')}">学生群</a></li>
                    <li><a href="{:U('Contact/teacher')}" class="on">老师群</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ht15"></div>
    <div class="ui-main">
        <div class="container">
            <div class="ht10"></div>
            <div class="ui-filter">
                <div class="select">
                    <p><a href="">院系</a></p>
                    <div class="ex">
                        <div class="list">
                            <p><a href="">计算机学院</a></p>
                            <p><a href="">水利学院</a></p>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="">专业</a></p>
                    <div class="ex">
                        <div class="list">
                            <p><a href="">机械设计</a></p>
                            <p><a href="">机械自动化</a></p>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <div class="select">
                    <p><a href="">班级</a></p>
                    <div class="ex">
                        <div class="list">
                            <p><a href="">机械设计002</a></p>
                            <p><a href="">机械设计003</a></p>
                        </div>
                    </div>
                </div>
                <span class="wh10"></span>
                <input type="text" class="form-control text" placeholder="请输入姓名">
                <span class="wh10"></span>
                <a href="" class="bt">查询</a>
            </div>
            <div class="ht30"></div>
            <div class="ui-table">
                <div class="ct">
                    <table>
                        <tbody>
                        <tr>
                            <td><b>姓名</b></td>
                            <td><b>工号</b></td>
                            <td><b>电话</b></td>
                            <td><b>所在部门</b></td>
                            <td><b>职位</b></td>
                        </tr>
                        <tr>
                            <td>董嘉耀</td>
                            <td>20161056</td>
                            <td>15850684698</td>
                            <td>所在部门1</td>
                            <td>职位1</td>
                        </tr>
                        <tr>
                            <td>郭德纲</td>
                            <td>20161056</td>
                            <td>15850684698</td>
                            <td>所在部门1</td>
                            <td>职位1</td>
                        </tr>
                        <tr>
                            <td>于谦</td>
                            <td>20161056</td>
                            <td>15850684698</td>
                            <td>所在部门1</td>
                            <td>职位1</td>
                        </tr>
                        <tr>
                            <td>董嘉耀</td>
                            <td>20161056</td>
                            <td>15850684698</td>
                            <td>所在部门1</td>
                            <td>职位1</td>
                        </tr>
                        <tr>
                            <td>郭德纲</td>
                            <td>20161056</td>
                            <td>15850684698</td>
                            <td>所在部门1</td>
                            <td>职位1</td>
                        </tr>
                        <tr>
                            <td>于谦</td>
                            <td>20161056</td>
                            <td>15850684698</td>
                            <td>所在部门1</td>
                            <td>职位1</td>
                        </tr>
                        <tr>
                            <td>董嘉耀</td>
                            <td>20161056</td>
                            <td>15850684698</td>
                            <td>所在部门1</td>
                            <td>职位1</td>
                        </tr>
                        <tr>
                            <td>郭德纲</td>
                            <td>20161056</td>
                            <td>15850684698</td>
                            <td>所在部门1</td>
                            <td>职位1</td>
                        </tr>
                        <tr>
                            <td>于谦</td>
                            <td>20161056</td>
                            <td>15850684698</td>
                            <td>所在部门1</td>
                            <td>职位1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ht35"></div>
            <div class="ui-paging">
                {$page} 
            </div>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">

    </div>
</footer>