<!doctype html>
<html lang="ch-ZN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>教师端</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/teacher/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/teacher/css/bootstrap-customize.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/teacher/css/style.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/teacher/css/pages.css">
    <script type="text/javascript" src="__PUBLIC__/teacher/js/html5.js"></script>
    <script type="text/javascript" src="__PUBLIC__/teacher/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/teacher/js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/teacher/js/respond.src.js"></script>
    <script type="text/javascript" src="__PUBLIC__/teacher/js/base.js"></script>
    <script type="text/javascript" src="__PUBLIC__/teacher/js/main.js"></script>
    <!--plugin-->
    <script type="text/javascript" src="__PUBLIC__/teacher/js/jquery.event.move.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/dialog/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/dialog.js"></script>
</head>
<body class="full-height">
<!-------------------------------------- 头部开始 -------------------------------------->
<header>
    <div class="container">

    </div>
</header>
<!--<nav class="navi">-->
    <!--<div class="hd">-->
        <!--<div class="logo">-->
            <!--<p><a href=""><img src="__PUBLIC__/teacher/img/logo.png" alt=""></a></p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="ct">-->
        <!--<div class="ht15"></div>-->
        <!--<div class="list">-->
            <!--<ul>-->
                <!--<li>-->
                    <!--<div class="i on">-->
                        <!--<a href="{:U('Report/index')}">-->
                            <!--<p><i class="ico1"></i>-->
                                <!--实习报告-->
                            <!--</p>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="i">-->
                        <!--<a href="{:U('Apply/index')}">-->
                            <!--<p><i class="ico2"></i>-->
                                <!--我的申请-->
                            <!--</p>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="i">-->
                        <!--<a href="{:U('Practice/index')}">-->
                            <!--<p><i class="ico6"></i>-->
                                <!--实习管理-->
                            <!--</p>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="i">-->
                        <!--<a href="{:U('Notice/index')}">-->
                            <!--<p><i class="ico7"></i>-->
                                <!--通知公告-->
                            <!--</p>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="i">-->
                        <!--<a href="{:U('Count/index')}">-->
                            <!--<p><i class="ico8"></i>-->
                                <!--统计分析-->
                            <!--</p>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="i ">-->
                        <!--<a href="{:U('Student/index')}">-->
                            <!--<p><i class="ico9"></i>-->
                                <!--学生管理-->
                            <!--</p>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="i">-->
                        <!--<a href="{:U('Contact/index')}">-->
                            <!--<p><i class="ico3"></i>-->
                                <!--通讯录-->
                            <!--</p>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->
    {__CONTENT__}
</body>
</html>
<script>
    $(function(){
       $('.i').click(function(){
           $('.i').removeClass('on');
           $(this).addClass('on');
       });
    });
</script>
