<include file="Apply/nav"/>
<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <div class="user">
                    <p><img src="__PUBLIC__/teacher/img/avatar1.jpg" alt="">
                        <a href="">董嘉耀</a>
                        <i></i>
                    </p>
                    <div class="ex">
                        <p><a href="">个人信息</a></p>
                        <p><a href="">修改密码</a></p>
                        <p><a href="">退出</a></p>
                    </div>
                </div>
            </div>
            <div class="tabs">
                <div class="ct">
                    <ul>
                        <li><a href="{:U('Apply/index')}" class="on">实习申请</a></li>
                        <li><a href="{:U('Apply/corporation')}" >实习单位变更</a></li>
                        <li><a href="{:U('Apply/position')}">实习岗位变更</a></li>
                        <li><a href="">请假申请</a></li>
                    </ul>
                </div>
                <a href="javascript:;" class="aw prev"></a><a href="javascript:;" class="aw next"></a>
            </div>
        </div>
    </div>
    <div class="ui-path">
        <p>
            <a href="" class="home"></a>
            <a href="{:U('Apply/index')}">实习申请</a>
            &gt;
            <a href="" class="on">实习申请批阅</a>
        </p>
    </div>
    <div class="ui-main">
        <div class="container">
            <div class="ht15"></div>
            <div class="ui-article">
                <div class="hd">
                    <h3>{$apply.stuname}的实习申请</h3>
                </div>
            </div>
            <div class="ht25"></div>
                <div class="ui-head1">
                    <p>个人信息</p>
                </div>
                <div class="ht15"></div>
                <div class="ui-article">
                    <div class="hd">
                        <table>
                            <tr>
                                <input type="hidden" name="id" value="{$apply.pid}">
                                <td align="left">学号：{$apply.studentno}</td>
                                <td align="center">年级：{$apply.grade|setGrade}</td>
                                <td align="center">姓名：{$apply.stuname}</td>
                                <td align="center">班级：{$apply.classname}</td>
                                <td align="right">专业：{$apply.proname}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="ht25"></div>
                <div class="ui-head1">
                    <p>公司信息</p>
                </div>
                <div class="ht15"></div>
                <div class="ui-article">
                    <div class="hd">
                        <table>
                            <tr>
                                <td align="left">企业名称：{$apply.corname}</td>
                                <td align="center">所在地址：{$apply.city}</td>
                                <td align="center">职务：{$apply.position}</td>
                                <td align="center">企业联系人：{$apply.contact}</td>
                                <td align="right">联系电话：{$apply.telephone}</td>
                            </tr>
                        </table>
                        <p>
                <span class="pull-left">
                  详细地址：{$apply.address}
                  <span class="wh40"></span>
                  开始时间：{$apply.starttime}
                  <span class="wh40"></span>
                  结束时间：{$apply.endtime}
                </span>
                        </p>
                    </div>
                </div>
            <div class="ht90"></div>
            <p class="text-center">
                <button type='button' class="bt-btn1 style1" attr-opinion="1">已审阅</button>
                <span class="wh40"></span>
            </p>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">
    </div>
</footer>
<script>
    $(function(){
       $('button').click(function(){
           var $id = $('input[type=hidden]').val();
           var $data = $(this).attr('attr-opinion');
           var $url = "{:U('Apply/editApply')}";
           $.post($url,{'opinion':$data,'id':$id},function(msg){
                   if(msg.status==0){
                       layer.msg(msg.message,{icon:5,time:2000},function(){
                           window.location.href="/teacher.php/Apply";//跳转到列表页面
                       });
                   }else{
                       layer.msg(msg.message,{icon:6,time:2000},function(){
                           window.location.href="/teacher.php/Apply";//跳转到列表页面
                       });
                   }
           },'JSON');
       });
    });
</script>

