<include file="Base/header" />
<body class="full-height">
<!-------------------------------------- 头部开始 -------------------------------------->
<header>
    <div class="container">

    </div>
</header>
<nav class="navi">
    <div class="hd">
        <div class="logo">
            <p><a href=""><img src="__PUBLIC__/Student/img/logo.png" alt=""></a></p>
        </div>
    </div>
    <div class="ct">
        <div class="ht15"></div>
        <div class="list">
            <ul>
                <li>
                    <div class="i">
                        <a href="">
                            <p><i class="ico1"></i>
                                实习报告
                            </p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="i">
                        <a href="">
                            <p><i class="ico2"></i>
                                我的申请
                            </p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="i">
                        <a href="">
                            <p><i class="ico3"></i>
                                通讯录
                            </p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="i on">
                        <a href="">
                            <p><i class="ico4"></i>
                                消息管理
                            </p>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="i">
                        <a href="">
                            <p><i class="ico5"></i>
                                我的成绩
                            </p>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-------------------------------------- 内容开始 -------------------------------------->
<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <div class="user">
                    <p><img src="img/avatar1.jpg" alt="">
                        <a href="">董嘉耀</a>
                        <i></i>
                    </p>
                    <div class="ex">
                        <p><a href="">个人信息</a></p>
                        <p><a href="">修改密码</a></p>
                        <p><a href="">退出</a></p>
                    </div>
                </div>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="" class="on">公告</a></li>
                    <li><a href="">系统消息</a></li>
                    <li><a href="">预警信息</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ht15"></div>
    <div class="ui-main">
        <div class="container">
            <div class="ht25"></div>
            <div class="ui-table">
                <div class="hd">
                    <div class="tool">
                        <p>
                            <a href="">查询</a>
                            &nbsp;
                            <a href="">删除</a>
                        </p>
                    </div>
                </div>
                <div class="ct">
                    <table>
                        <tbody>
                        <tr>
                            <td>&nbsp;</td>
                            <td><b>序号</b></td>
                            <td><b>公告标题</b></td>
                            <td><b>发布人</b></td>
                            <td><b>发布对象</b></td>
                            <td><b>发布时间</b></td>
                            <td><b>操作</b></td>
                        </tr>
                        <tr>
                            <td><a href="" class="cbox"></a></td>
                            <td>1</td>
                            <td>关于研发部门出差费用的说明</td>
                            <td>董嘉耀</td>
                            <td>所有人</td>
                            <td>2016-01-21</td>
                            <td><a href="" class="ul">可见</a></td>
                        </tr>
                        <tr>
                            <td><a href="" class="cbox"></a></td>
                            <td>1</td>
                            <td>关于研发部门出差费用的说明</td>
                            <td>欧阳正华</td>
                            <td>所有人</td>
                            <td>2016-01-21</td>
                            <td><a href="" class="ul">可见</a></td>
                        </tr>
                        <tr>
                            <td><a href="" class="cbox"></a></td>
                            <td>1</td>
                            <td>关于研发部门出差费用的说明</td>
                            <td>董嘉耀</td>
                            <td>所有人</td>
                            <td>2016-01-21</td>
                            <td><a href="" class="ul">可见</a></td>
                        </tr>
                        <tr>
                            <td><a href="" class="cbox"></a></td>
                            <td>1</td>
                            <td>关于研发部门出差费用的说明</td>
                            <td>欧阳正华</td>
                            <td>所有人</td>
                            <td>2016-01-21</td>
                            <td><a href="" class="ul">可见</a></td>
                        </tr>
                        <tr>
                            <td><a href="" class="cbox"></a></td>
                            <td>1</td>
                            <td>关于研发部门出差费用的说明</td>
                            <td>董嘉耀</td>
                            <td>所有人</td>
                            <td>2016-01-21</td>
                            <td><a href="" class="ul">可见</a></td>
                        </tr>
                        <tr>
                            <td><a href="" class="cbox"></a></td>
                            <td>1</td>
                            <td>关于研发部门出差费用的说明</td>
                            <td>欧阳正华</td>
                            <td>所有人</td>
                            <td>2016-01-21</td>
                            <td><a href="" class="ul">可见</a></td>
                        </tr>
                        <tr>
                            <td><a href="" class="cbox"></a></td>
                            <td>1</td>
                            <td>关于研发部门出差费用的说明</td>
                            <td>董嘉耀</td>
                            <td>所有人</td>
                            <td>2016-01-21</td>
                            <td><a href="" class="ul">可见</a></td>
                        </tr>
                        <tr>
                            <td><a href="" class="cbox"></a></td>
                            <td>1</td>
                            <td>关于研发部门出差费用的说明</td>
                            <td>欧阳正华</td>
                            <td>所有人</td>
                            <td>2016-01-21</td>
                            <td><a href="" class="ul">可见</a></td>
                        </tr>
                        <tr>
                            <td><a href="" class="cbox"></a></td>
                            <td>1</td>
                            <td>关于研发部门出差费用的说明</td>
                            <td>董嘉耀</td>
                            <td>所有人</td>
                            <td>2016-01-21</td>
                            <td><a href="" class="ul">可见</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ht35"></div>
            <div class="ui-paging">
                <span>共15页，共143条记录</span>
                &nbsp;
                <ul>
                    <li><a href=""><</a></li>
                    <li><a href="" class="on">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">></a></li>
                </ul>
                <div class="pull-left">
                    <a href="" class="cbox"><i></i>全选</a>
                </div>
            </div>
        </div>
    </div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">

    </div>
</footer>
<!-------------------------------------- 尾部开始 -------------------------------------->
</body>
</html>
<style>

</style>
<script>
    $(function(){

    });
</script>
