<include file="Practice/nav"/>
<script src="__PUBLIC__/teacher/js/jquery-1.11.3.min.js"></script>
<main>
    <div class="ui-head">
        <div class="container">
            <div class="pull-right">
                <div class="user">
                    <p><img src="__PUBLIC__/teacher/img/avatar1.jpg" alt="">
                        <a href="">董嘉耀</a>
                        <i></i>
                    </p>
                    <div class="ex">
                        <p><a href="">个人信息</a></p>
                        <p><a href="">修改密码</a></p>
                        <p><a href="">退出</a></p>
                    </div>
                </div>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="" class="on">学生实习安排</a></li>
                    <li><a href="">实习企业管理</a></li>
                    <li><a href="">合同管理</a></li>
                    <li><a href="">学生考评设置</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ui-path">
        <p>
            <a href="" class="home"></a>
            <a href="">学生实习安排</a>
            >
            <a href="" class="on">安排岗位</a>
        </p>
    </div>
    <div class="ui-main">
        <div class="container">
            <div class="ht10"></div>
            <div class="ui-form style2">
                <form class="form-horizontal" method="post" id="arrangement">
                    <input type="hidden" name="stuno" value="{$Think.get.id}">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label">所在地址</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="select" style="width: 210px;">
                                <p id="address"><a href="">请选择企业所在地址</a></p>
                                <div class="ex">
                                    <volist name="addr" id="v">
                                        <p><a href="javascript:void(0)">{$v.city}</a></p>
                                    </volist>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="" class="control-label">企业名称</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="select" style="width: 210px;">
                                <p id="name"><a href="">请选择企业名称</a></p>
                                <div class="ex">
                                    <volist name="name" id="v">
                                        <p><a href="javascript:void(0)">{$v.name}</a></p>
                                    </volist>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label">实习岗位</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="position" style="width: 210px;" placeholder="请输入实习岗位">
                        </div>
                        <div class="col-sm-2">
                            <label for="" class="control-label">指导老师</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="select" style="width: 210px;">
                                <p id="guide"><a href="">请选择企业指导老师</a></p>
                                <div class="ex">
                                    <volist name="guide" id="v">
                                        <p><a href="javascript:void(0)">{$v.guide}</a></p>
                                    </volist>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label">联系电话</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="telephone" style="width: 210px;" >
                        </div>
                        <div class="col-sm-2">
                            <label for="" class="control-label">开始时间</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="select" style="width: 210px;">
                                <!--<p><a href="">请选择实习开始时间</a></p>-->
                                <p><input type="text" name="starttime" class=" form-control timer" value="" ></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label for="" class="control-label">结束时间</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="select" style="width: 210px;">
                                <!--<p><a href="">请选择实习开始时间</a></p>-->
                                <p><input type="text" name="endtime" class="form-control timer" value="" ></p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="" class="control-label">企业性质</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="select" style="width: 210px;">
                                <p id="type"><a href="">请选择企业性质</a></p>
                                <div class="ex">
                                    <volist name="type" id="v">
                                        <p><a href="">{$v.type}</a></p>
                                    </volist>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ht15"></div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p class="text-center">
                               <button type="button" class="bt-btn1 style1">保存</button>
                                <span class="wh40"></span>
                                <button type="reset" class="bt-btn1 style2">取消</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script src="__PUBLIC__/teacher/js/foundation-datepicker.min.js"></script>
<script src="__PUBLIC__/teacher/js/foundation-datepicker.zh-CN.js"></script>
<script src="__PUBLIC__/teacher/js/timer.js"></script><!-- 日期插件所用 -->
<script>
    $(function(){
       $('button[type=button]').click(function(){
         var $address = $('#address').text();
         var $guide = $('#guide').text();
         var $name  =$('#name').text();
         var $type = $('#type').text();
         var $data = $('#arrangement').serialize();
         var $url = "{:U('Practice'/arrangement)}";
           $.ajax({
                url:$url,
                type:"post",
                dataType:'json',
                data:{
                    'address': $address,
                    'name':$name,
                    'guide': $guide,
                    'type' : $type,
                    'data' : $data,
                },
               success:function(msg){
                    if(msg.status==0){
                        layer.msg(msg.message,{icon:5});
                    }else if(msg.status==1){
                        layer.msg(msg.message,{icon:6},function(){
                            window.location.href="/teacher.php/Practice";
                        });
                    }
               }
           });
       });
    });
</script>