<include file="Student/nav"/>
<main>
    <style>
        label,td{font-size: 13px;}
    </style>
    <div class="ui-head">
        <div class="container">
            <include file="Public/user"/>
            <div class="tabs">
                <div class="ct">
                    <ul>
                        <li><a href="{:U('Student/index')}" class="on">学生管理</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-path">
        <p>
            <span class="pull-right"><a href="{:U('Student/index')}">返回</a></span>
            <a href="javascript:void(0)" class="home"></a>
            <a href="{:U('Student/index')}">学生管理</a>
            >
            <a href="javascript:void(0)" class="on">查看学生信息</a>
        </p>
    </div>
    <div class="ui-main">
        <div class="container">
            <div class="ht20"></div>
            <div class="pull-left" style="margin-right: 30px;">
                <div class="ui-infbox">
                    <div class="hd">
                        <p>个人信息</p>
                    </div>
                    <div class="ct">
                        <div class="info">
                            <p>
                                <img src="__PUBLIC__/teacher/img/avatar2.jpg" alt="">
                            </p>
                            <div class="ct">
                                <table>
                                    <tr>
                                        <td><label for="">姓名</label></td>
                                        <td>{$student.name}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">手机</label></td>
                                        <td>{$student.phone}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">学号</label></td>
                                        <td>{$student.studentno}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">电子邮箱</label></td>
                                        <td>{$student.email}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">联系地址</label></td>
                                        <td>{$student.address}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">院系</label></td>
                                        <td>{$student.deptname}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">年级</label></td>
                                        <td>{$student.grade}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">班级</label></td>
                                        <td>{$student.classname}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">班主任</label></td>
                                        <td>{$student.master}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-left">
                <div class="ui-infbox">
                    <div class="hd">
                        <p>实习信息</p>
                    </div>
                    <div class="ct">
                        <div class="info">
                            <div class="ct">
                                <table>
                                    <tr>
                                        <td><label for="">实习状态</label></td>
                                        <td>{$student.ispractice}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">实习企业</label></td>
                                        <td>{$student.corname}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">实习地址</label></td>
                                        <td>{$student.address}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">实习岗位</label></td>
                                        <td>{$student.position}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">实习时间</label></td>
                                        <td>{$student.starttime|substr=0,10}~{$student.endtime|substr=0,10}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">实习导师</label></td>
                                        <td>{$student.guide}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">导师联系方式</label></td>
                                        <td>{$student.phone}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ht30"></div>
            </div>
            <div class="pull-left">
                <div class="ui-infbox">
                    <div class="hd">
                        <p>实习信息</p>
                    </div>
                    <div class="ct">
                        <div class="info">
                            <div class="ct">
                                <table>
                                    <tr>
                                        <td><label for="">打卡</label></td>
                                        <td>2016-12-01 08;30;00</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">周报</label></td>
                                        <td><div class="pull-right"><a href="__CONTROLLER__/week/id/{$student.studentno}">查看</a></div>已提交{$weekcount}篇</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">月报</label></td>
                                        <td><div class="pull-right"><a href="javascript:void(0)">查看</a></div>已提交0篇</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">实习小结</label></td>
                                        <td><div class="pull-right"><a href="javascript:void(0)">查看</a></div>已提交0篇</td>
                                    </tr>
                                    <tr>
                                        <td><label for="">请假记录</label></td>
                                        <td><div class="pull-right"><a href="__CONTROLLER__/leave/id/{$student.studentno}"">查看</a></div>已提交{$leavecount}篇</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
</main>
<!-------------------------------------- 内容结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<footer>
    <div class="container">

    </div>
</footer>